@using Entities.Enums;
@{
    ViewBag.Title = "Danh sách khách thuê";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Delete);
    var canCreate = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Create);
    var canUpdate = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Update);
    var canApprove = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Verify);
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Danh sách khách thuê</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check-square font-green-sharp bold"></i>
                    <span class="caption-subject font-green-sharp bold ">Danh sách khách thuê</span>
                </div>
                @if (canCreate)
                {
                    <div class="actions">
                        <a href="@Url.RouteUrl("KhachThueCreate")" class="btn btn-sm green"><i class="fa fa-plus"></i> Thêm khách thuê mới</a>
                    </div>
                }
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div class="table-actions-wrapper">
                        @*@if (canUpdate)
                        {
                            <button class="btn btn-sm yellow-casablanca table-group-action-RecentlyAdded display-hide"><i class="fa fa-edit"></i> Biên tập lại</button>
                        }*@
                        @if (canApprove)
                        {
                            <button class="btn btn-sm blue table-group-action-PendingPublish"><i class="fa fa-check"></i> Duyệt</button>
                        }
                        @if (canDelete)
                        {
                            <button class="btn btn-sm red-flamingo table-group-action-Delete"><i class="fa fa-trash-o"></i> Xóa</button>
                        }
                        <span></span>
                    </div>
                    <div class="table-actions-2-wrapper">
                        Lọc theo trạng thái&nbsp;&nbsp;<select class=" form-control input-inline input-small input-sm object-filter">
                        <option value="1">Tất cả</option>    
                        <option value="0">Chờ duyệt</option>
                        <option value="2">Đã duyệt</option>
                        </select>&nbsp;&nbsp;&nbsp;
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="datatable_ajax_source">
                        <thead>
                            <tr role="row" class="heading">
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" />
                                </th>
                                <th style="background: #85e0e0 !important">
                                    Tên người liên hệ
                                </th>
                                <th style="background: #85e0e0 !important; ">
                                    Số điện thoại
                                </th>
                                <th style="background: #ccb3ff !important">
                                    Quận
                                </th>
                                <th style="background: #ccb3ff !important">
                                    Đường
                                </th>
                                @*<th style="background: #ccb3ff !important">
                                    Tổng giá thuê
                                </th>*@
                                @*<th>
                                    Cấp độ theo dõi
                                </th>*@
                                <th style="background: #ccb3ff !important">
                                    Trạng thái
                                </th>
                                <th style="background: #ddd !important">
                                    Hành động
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/adminv1/select2", "~/Content/adminv1/datatable")
}
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/select2", "~/bundles/adminv1/datatable")
    @Scripts.Render("~/bundles/adminv1/datatable-ajax-source")
}
@section Scripts2 {
    <script type="text/javascript">
    var Article = function () {
        var handleArticle = function () {
            var grid = new DatatableAjaxSource();
            grid.init({
                src: $("#datatable_ajax_source"),
                onSuccess: function (grid) {
                    // hành động khi tải xong dữ liệu
                },
                onError: function (grid) {
                    // hành động khi tải dữ liệu bị lỗi
                },
                dataTable: {
                    "ajax": {
                        "url": '@Url.RouteUrl("GetKhachThueJson")',
                    },
                    "columnDefs": [{
                        "targets": -1,
                        "data": null,
                        "render": function (data, type, full) {
                            console.debug('data ', data);
                            var sel = $('select.object-filter').val();
                            switch (sel) {
                                //Lọc theo chờ duyệt
                                case '1':
                                    var re = '';
                                    if ('@canApprove' == 'true' || '@canApprove' == 'True') {
                                        re = '<a class="btn btn-xs blue PendingPublish font-size-small" data-objectid="' + data.NhuCauThueId + '" href="#"><i class="fa fa-check"></i> Duyệt</a>';
                                    }
                                    if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                        //re = re + '<a class="btn btn-xs red-flamingo RecentlyAdded font-size-small" data-objectid="' + data.Id + '" href="#"><i class="fa fa-edit"></i> Sửa</a>';
                                        re = re + '<a class="btn btn-sm green btn default btn-xs  font-size-small" href="' + ('@Url.RouteUrl("KhachThueUpdate", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.Id).replace("objectNhuCauId", data.NhuCauThueId) + '"  data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-edit"></i> Sửa</a>';
                                    }
                                    if ('@canCreate' == 'true' || '@canCreate' == 'True') {
                                        re = re + '<a class="btn btn-sm green btn default btn-xs  font-size-small"  href="' + ('@Url.RouteUrl("NhuCauCreate", new { id = "objectId" })').replace("objectId", data.Id) + '"  data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-plus"></i> Thêm nhu cầu</a>';
                                    }
                                    if ('@canDelete' == 'true' || '@canDelete' == 'True') {
                                        re = re + '<a class="btn default btn-xs red-flamingo Delete font-size-small" style="background: #ccb3ff !important" data-objectid="' + data.NhuCauThueId + '" data-objectidkhach="false" href="#"><i class="fa fa-trash-o"></i> Xóa nhu cầu</a>';
                                    }
                                    if ('@canDelete' == 'true' || '@canDelete' == 'True') {
                                        re = re + '<a class="btn default btn-xs red-flamingo Delete font-size-small" style="background: #85e0e0 !important" data-objectid="' + data.Id + '" data-objectidkhach="true" href="#"><i class="fa fa-trash-o"></i> Xóa khách</a>';
                                    }
                                    re = re + '<a class="btn btn-xs timnha blue font-size-small @ViewBag.HidenClass" href="' + ('@Url.RouteUrl("TimNha", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.Id).replace("objectNhuCauId", data.NhuCauThueId) + '" data-target="#ajaxmodal" data-toggle="modal" style="margin-top:5px"><i class="fa fa-search"></i> Nhà cho khách</a>';
                                    return re;
                                    break;
                                    //Lọc theo đã duyệt
                                case '2':
                                    if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                        //return '<a class="btn btn-xs red-flamingo RecentlyAdded" data-objectid="' + data.Id + '" href="#"><i class="fa fa-edit"></i> Sửa</a>';
                                        re = '<a class="btn btn-sm green btn default btn-xs  font-size-small" href="' + ('@Url.RouteUrl("KhachThueUpdate", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.Id).replace("objectNhuCauId", data.NhuCauThueId) + '"  data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-edit"></i> Sửa</a>';
                                        re = re + '<a class="btn btn-xs timnha blue font-size-small @ViewBag.HidenClass" href="' + ('@Url.RouteUrl("TimNha", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.Id).replace("objectNhuCauId", data.NhuCauThueId) + '" data-target="#ajaxmodal" data-toggle="modal" style="margin-top:5px"><i class="fa fa-search"></i> Nhà cho khách</a>';
                                        return re;
                                    }
                                    else {
                                        return '';
                                    }
                                    break;
                                default:
                                    return '';
                            }
                        },
                    }],
                    "columns": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "data": "Id",
                            "render": function (data, type, full) {
                                return '<input type="checkbox" value="' + data + '" class="checkboxes">';
                            }
                        },
                        {
                            "searchable": true,
                            "orderable": true,
                            "data": null,
                            "render": function (data, type, full) {
                                @* var sel = $('select.object-filter').val();
                                    if (sel == '1') {
                                        if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                            return '<a href="' + ('@Url.RouteUrl("ArticleUpdate", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.Id).replace("objectNhuCauId", data.NhuCauThueId) + '">' + data.TenKhach + '</a>';
                                        }
                                        else {
                                            return '';
                                        }
                                    }
                                    else { *@
                                return '<a href="' + ('@Url.RouteUrl("KhachDetailModal", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.Id).replace("objectNhuCauId", data.NhuCauThueId) + '" data-target="#ajaxmodal" data-toggle="modal">' + data.TenNguoiLienHeVaiTro + '</a>'
                                //}
                            }
                        },
                { data: "SoDienThoai" },
                { data: "Quan" },
                { data: "Duong" },
                //{ data: "TongGiaThue" },
                //{ data: "CapDoTheoDoi" },
                { data: "TrangThai" },
                { data: null }
                    ],
                    "order": [
                        [2, "desc"]
                    ] // ép sắp xếp theo cột thứ 3
                }
            });
            grid.getTableWrapper().on('change', '.object-filter', function (e) {
                var sel = $(this).val();
                e.preventDefault();
                grid.setAjaxParam("objectStatus", $(this).val());
                grid.getDataTable().ajax.reload();
                grid.clearAjaxParams();
                switch (sel) {
                    case '1':
                        {
                            $('.table-group-action-PendingPublish').removeClass('display-hide');
                            $('.table-group-action-RecentlyAdded').addClass('display-hide');
                            $('.table-group-action-Delete').removeClass('display-hide');
                        }
                        break;
                    case '2':
                        {
                            $('.table-group-action-PendingPublish').addClass('display-hide');
                            $('.table-group-action-RecentlyAdded').removeClass('display-hide');
                            $('.table-group-action-Delete').addClass('display-hide');
                        }
                        break;
                }
            });

            //Duyệt nhiều record
            grid.getTableWrapper().on('click', '.table-group-action-PendingPublish', function (e) {
                e.preventDefault();
                if (grid.getSelectedRowsCount() > 0) {
                    SetArticleStatus(grid.getSelectedRows(), 2);
                } else if (grid.getSelectedRowsCount() === 0) {
                    showNoty('Chưa có bản ghi nào được chọn!', 'error', 'center', 5000);
                }
            });

            //Xóa nhiều bài viết
            grid.getTableWrapper().on('click', '.table-group-action-Delete', function (e) {
                e.preventDefault();
                if (grid.getSelectedRowsCount() > 0) {
                    if (confirm('Bạn có chắc chắn muốn xóa không?')) {
                        DeleteArticle(grid.getSelectedRows(), true);
                    }
                } else if (grid.getSelectedRowsCount() === 0) {
                    showNoty('Chưa có bản ghi nào được chọn!', 'error', 'center', 5000);
                }
            });

            //Duyệt
            grid.getTableWrapper().on('click', '.PendingPublish', function (e) {
                e.preventDefault();
                var ids = $(this).attr('data-objectid');
                SetArticleStatus(ids, 2);
            });

            //Xóa 1 bài viết
            grid.getTableWrapper().on('click', '.Delete', function (e) {
                e.preventDefault();
                if (confirm('Bạn có chắc chắn muốn xóa không?')) {
                    var ids = $(this).attr('data-objectid');
                    var isKhach = $(this).attr('data-objectidkhach');
                    DeleteArticle(ids, isKhach);
                }
            });

            //Hàm đổi trạng thái bài viết: 0: Chờ duyệt | 1: Đã duyệt
            var SetArticleStatus = function (ids, status) {
                AdminVersionOne.blockUI({
                    message: 'Vui lòng đợi!',
                    overlayColor: 'none',
                    cenrerY: true,
                    boxed: true
                });
                var $url = ('@Url.RouteUrl("KhachThueSetKhachThueStatus", new { ids = "objectIds", status = "objectStatus" })').replace("objectIds", ids).replace("objectStatus", status);
                $.ajax({
                    type: 'POST',
                    cache: false,
                    async: true,
                    url: $url,
                    dataType: 'json',
                    success: function (result) {
                        if (result.success) {
                            showNoty(result.message, 'success', 'center', 5000);
                        }
                        else
                            showNoty(result.message, 'error', 'center', 5000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showNoty(errorThrown, 'error', 'center', 5000);
                    },
                    complete: function (result) {
                        grid.getDataTable().ajax.reload();
                        AdminVersionOne.unblockUI();
                    }
                });
                return;
            }

            //Hàm xóa bài viết
            var DeleteArticle = function (ids, isKhach) {
                AdminVersionOne.blockUI({
                    message: 'Vui lòng đợi!',
                    overlayColor: 'none',
                    cenrerY: true,
                    boxed: true
                });
                var $url = ('@Url.RouteUrl("KhachThueDeleteKhachThues", new { ids = "objectIds", isKhach = "objectidkhach" })').replace("objectIds", ids).replace("objectidkhach", isKhach);
                $.ajax({
                    type: 'POST',
                    cache: false,
                    async: true,
                    url: $url,
                    dataType: 'json',
                    success: function (result) {
                        if (result.success) {
                            showNoty(result.message, 'success', 'center', 5000);
                        }
                        else
                            showNoty(result.message, 'error', 'center', 5000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showNoty(errorThrown, 'error', 'center', 5000);
                    },
                    complete: function (result) {
                        grid.getDataTable().ajax.reload();
                        AdminVersionOne.unblockUI();
                    }
                });
                return;
            }
        }
        return {
            init: function () {
                handleArticle();
            }
        };
    }();
    jQuery(document).ready(function () {
        Article.init();

    });
</script>
}

<style>
    .font-size-small{
        font-size:10px;
    }
</style>



