@using Entities.Enums;
@{
    ViewBag.Title = "Danh sách khách thuê";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Delete);
    var canCreate = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Create);
    var canUpdate = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Update);
    var canApprove = RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Verify);
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Danh sách khách thuê</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check-square font-green-sharp bold"></i>
                    <span class="caption-subject font-green-sharp bold ">Danh sách khách thuê</span>
                </div>
                @if (canCreate)
                {
                    <div class="actions">
                        <a href="@Url.RouteUrl("KhachThueCreate")" class="btn btn-sm green"><i class="fa fa-plus"></i> Thêm khách thuê mới</a>
                    </div>
                }
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div class="table-actions-2-wrapper">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Ghi chú
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control input-inline input-small inputwidth input-sm object-filter-ghichu" />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Quận
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("object-filter-quan", (IEnumerable<SelectListItem>)ViewBag.QuanDropdownlist, "Chọn quận", new { @class = "inputwidth form-control sel-quan" })
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Đường
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("object-filter-duong", (IEnumerable<SelectListItem>)ViewBag.DuongDropdownlist, "Chọn đường", new { @class = "inputwidth form-control sel-duong" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Mặt tiền từ
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-mattientu" />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Đến
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-mattienden" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Tên khách
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-tenkhach" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Giá thuê từ
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-giathuetu" />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Đến
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-giathueden" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Trạng thái
                                </div>
                                <div class="col-md-8">
                                    <select class="inputwidth form-control input-inline input-small input-sm object-filter">
                                        <option value="0">Chờ duyệt</option>
                                        <option value="1">Đã duyệt</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="col-md-4">  
                                    DTSD T1 từ
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-dtsdt1tu" />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Đến
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-dtsdt1den" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Tổng DTSD từ
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-tongdtsdtu" />
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="col-md-4">
                                    Đến
                                </div>
                                <div class="col-md-8">
                                    <input class="inputwidth form-control input-inline input-small input-sm object-filter-tongdtsdden" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-actions-wrapper">
                        @*@if (canUpdate)
                            {
                                <button class="btn btn-sm yellow-casablanca table-group-action-RecentlyAdded display-hide"><i class="fa fa-edit"></i> Biên tập lại</button>
                            }*@
                        @if (canApprove)
                        {
                            <button class="btn btn-sm blue table-group-action-PendingPublish"><i class="fa fa-check"></i> Duyệt</button>
                        }
                        @*@if (canDelete)
                            {
                                <button class="btn btn-sm red-flamingo table-group-action-Delete"><i class="fa fa-trash-o"></i> Xóa</button>
                            }*@
                        <span></span>
                    </div>
                    @*<div class="table-actions-2-wrapper">
                            Lọc theo trạng thái&nbsp;&nbsp;<select class=" form-control input-inline input-small input-sm object-filter">
                                <option value="1">Tất cả</option>
                                <option value="0">Chờ duyệt</option>
                                <option value="2">Đã duyệt</option>
                            </select>&nbsp;&nbsp;&nbsp;
                        </div>*@
                    <table class="table table-striped table-bordered table-hover" id="datatable_ajax_source">
                        <thead>
                            <tr role="row" class="heading">
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" />
                                </th>
                                @*<th style="background: #85e0e0 !important">
                                        Tên khách
                                    </th>
                                    <th style="background: #ccb3ff !important">
                                        Quận
                                    </th>
                                    <th style="background: #ccb3ff !important">
                                        Đường
                                    </th>
                                    <th style="background: #85e0e0 !important; ">
                                        Giá thuê
                                    </th>
                                    <th style="background: #ccb3ff !important">
                                        Trạng thái
                                    </th>
                                    <th style="background: #ddd !important">
                                        Hành động
                                    </th>*@
                                <th>
                                    Tên khách
                                </th>
                                <th>
                                    Địa chỉ
                                </th>
                                <th>
                                    Giá thuê
                                </th>
                                <th>
                                    Ghi chú
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Hành động
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/adminv1/select2", "~/Content/adminv1/datatable")
}
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/select2", "~/bundles/adminv1/datatable")
    @Scripts.Render("~/bundles/adminv1/datatable-ajax-source")
}
@section Scripts2 {
    <script type="text/javascript">
        var Article = function () {
            var handleArticle = function () {
                var grid = new DatatableAjaxSource();
                grid.init({
                    src: $("#datatable_ajax_source"),
                    onSuccess: function (grid) {
                        // hành động khi tải xong dữ liệu
                        /* setTimeout(function () {
                            $("#datatable_ajax_source_info").append("<span> khách</span>");
                            $("table tbody tr").each(function () {
                                var nhuCauId = $(this).find(".checkboxes").closest("tr").find(".getnhucauid").attr("text");
                                if (nhuCauId != "" && nhuCauId != undefined) {
                                    $(this).find(".checkboxes").val(nhuCauId);
                                }
                            });
                        }, 300); */
                        
                    },
                    onError: function (grid) {
                        // hành động khi tải dữ liệu bị lỗi
                    },
                    dataTable: {
                        "ajax": {
                            "url": '@Url.RouteUrl("GetKhachThueJson",  new { status = 0 })',
                        },
                        "columnDefs": [{
                            "targets": -1,
                            "data": null,
                            "render": function (data, type, full) {
                                //console.debug('data ', data);
                                var sel = $('select.object-filter').val();
                                //var addId = "<a class='getnhucauid' text='" + data.Id + "'> </a>";
                                var addId = "";
                                switch (sel) {
                                    //Lọc theo chờ duyệt
                                    case '0':
                                        var re = '';
                                        if ('@canApprove' == 'true' || '@canApprove' == 'True') {
                                            re = '<a class="btn btn-xs blue PendingPublish font-size-small" data-objectid="' + data.Id + '" href="#"><i class="fa fa-check"></i> Duyệt</a>';
                                        }
                                        if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                            //re = re + '<a class="btn btn-xs red-flamingo RecentlyAdded font-size-small" data-objectid="' + data.Id + '" href="#"><i class="fa fa-edit"></i> Sửa</a>';
                                            re = re + '<a class="btn btn-sm green btn default btn-xs  font-size-small" href="' + ('@Url.RouteUrl("KhachThueUpdate", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.KhachId).replace("objectNhuCauId", data.Id) + '"  data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-edit"></i> Sửa</a>';
                                        }
                                        if ('@canCreate' == 'true' || '@canCreate' == 'True') {
                                            re = re + '<a class="btn btn-sm green btn default btn-xs  font-size-small hidden"  href="' + ('@Url.RouteUrl("NhuCauCreate", new { id = "objectId" })').replace("objectId", data.KhachId) + '"  data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-plus"></i> Thêm nhu cầu</a>';
                                        }
                                        if ('@canDelete' == 'true' || '@canDelete' == 'True') {
                                            re = re + '<a class="btn default btn-xs red-flamingo Delete font-size-small" style="background: #ccb3ff !important" data-objectid="' + data.Id + '" data-objectidkhach="false" href="#"><i class="fa fa-trash-o"></i> Xóa nhu cầu</a>';
                                        }
                                        if ('@canDelete' == 'true' || '@canDelete' == 'True') {
                                            re = re + '<a class="btn default btn-xs red-flamingo Delete font-size-small" style="background: #85e0e0 !important" data-objectid="' + data.KhachId + '" data-objectidkhach="true" href="#"><i class="fa fa-trash-o"></i> Xóa khách</a>';
                                        }
                                        re = re + '<a class="btn btn-xs timnha blue font-size-small @ViewBag.HidenClass" href="' + ('@Url.RouteUrl("TimNha", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.KhachId).replace("objectNhuCauId", data.Id) + '" data-target="#ajaxmodal" data-toggle="modal" ><i class="fa fa-search"></i> Nhà cho khách</a>';
                                        return addId + re;
                                        break;
                                        //Lọc theo đã duyệt
                                    case '1':
                                        if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                            re = '<a class="btn default btn-xs red-flamingo Delete font-size-small" style="background: #ccb3ff !important" data-objectid="' + data.Id + '" data-objectidkhach="false" href="#"><i class="fa fa-trash-o"></i> Xóa nhu cầu</a>';
                                            re = re + '<a class="btn default btn-xs red-flamingo Delete font-size-small" style="background: #85e0e0 !important" data-objectid="' + data.KhachId + '" data-objectidkhach="true" href="#"><i class="fa fa-trash-o"></i> Xóa khách</a>';
                                            re = re + '<a class="btn btn-sm green btn default btn-xs  font-size-small" href="' + ('@Url.RouteUrl("KhachThueUpdate", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.KhachId).replace("objectNhuCauId", data.Id) + '"  data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-edit"></i> Sửa</a>';
                                            re = re + '<a class="btn btn-xs timnha blue font-size-small @ViewBag.HidenClass" href="' + ('@Url.RouteUrl("TimNha", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.KhachId).replace("objectNhuCauId", data.Id) + '" data-target="#ajaxmodal" data-toggle="modal" ><i class="fa fa-search"></i> Nhà cho khách</a>';
                                            return addId + re;
                                        }
                                        else {
                                            return '';
                                        }
                                        break;
                                    default:
                                        return '';
                                }
                            },
                        }],
                        "columns": [
                            {
                                "searchable": false,
                                "orderable": false,
                                "data": "Id",
                                "render": function (data, type, full) {
                                    return '<input type="checkbox" value="' + data + '" class="checkboxes">';
                                }
                            },
                            {
                                "searchable": true,
                                "orderable": true,
                                "data": null,
                                "render": function (data, type, full) {
                                    @* var sel = $('select.object-filter').val();
                                    if (sel == '1') {
                                        if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                            return '<a href="' + ('@Url.RouteUrl("ArticleUpdate", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.Id).replace("objectNhuCauId", data.NhuCauThueId) + '">' + data.TenKhach + '</a>';
                                        }
                                        else {
                                            return '';
                                        }
                                    }
                                    else { *@
                                    return '<a href="' + ('@Url.RouteUrl("KhachDetailModal", new { id = "objectId", nhucauId = "objectNhuCauId" })').replace("objectId", data.KhachId).replace("objectNhuCauId", data.Id) + '" data-target="#ajaxmodal" data-toggle="modal">' + data.TenNguoiLienHeVaiTro + '</a>'
                                    //}
                                }
                            },
                            {
                                "searchable": true,
                                "orderable": true,
                                "data": null,
                                "render": function (data, type, full) {
                                    return data.DuongName + ' - ' + data.QuanName;
                                }
                            },
                    //         { data: "Quan" },
                    //{ data: "Duong" },
                    { data: "TongGiaThue", render: $.fn.dataTable.render.number(',', '.', 0, '') },  //number( 'ký tự chèn', '.', 0, 'Tiền tệ hiện' )
                    { data: "GhiChu" },
                    { data: "TrangThai" },
                    { data: null }
                        ],
                        "order": [
                            [5, "desc"]
                        ] // ép sắp xếp theo cột thứ 3
                    }
                });

                //Tìm kiếm START
                //Ghi chú
                grid.getTableWrapper().on('change', '.object-filter-ghichu', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectGhiChu", $('.object-filter-ghichu').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Tên khách
                grid.getTableWrapper().on('change', '.object-filter-tenkhach', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectTenKhach", $('.object-filter-tenkhach').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Quận
                $(document).on('change', '.sel-quan', function (e) {
                    GetDuongByQuan($(this).val(), $(this));

                    e.preventDefault();
                    grid.setAjaxParam("objectQuan", $('.sel-quan').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Dường
                $(document).on('change', '.sel-duong', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectDuong", $('.sel-duong').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Mặt tiền
                grid.getTableWrapper().on('change', '.object-filter-mattientu', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectMatTienTu", $('.object-filter-mattientu').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                grid.getTableWrapper().on('change', '.object-filter-mattienden', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectMatTienDen", $('.object-filter-mattienden').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Giá thuê từ
                grid.getTableWrapper().on('change', '.object-filter-giathuetu', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectGiaThueTu", $('.object-filter-giathuetu').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Gía thuê đến
                grid.getTableWrapper().on('change', '.object-filter-giathueden', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectGiaThueDen", $('.object-filter-giathueden').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //DTSD T1 từ
                grid.getTableWrapper().on('change', '.object-filter-dtsdt1tu', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectDTSDT1Tu", $('.object-filter-dtsdt1tu').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //DTSD T1 đến
                grid.getTableWrapper().on('change', '.object-filter-dtsdt1den', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectDTSDT1Den", $('.object-filter-dtsdt1den').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Tổng DTSD từ
                grid.getTableWrapper().on('change', '.object-filter-tongdtsdtu', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectTongDTSDTu", $('.object-filter-tongdtsdtu').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Tổng DTSD đến
                grid.getTableWrapper().on('change', '.object-filter-tongdtsdden', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectTongDTSDDen", $('.object-filter-tongdtsdden').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });


                function GetDuongByQuan(id, quan) {
                    var URL = ('@Url.RouteUrl("SharedGetDuongByQuan", new { quanId = "objectIdReplacement" })').replace('objectIdReplacement', id);
                    $.getJSON(URL, function (data) {
                        var items = "<option value=''>Chọn đường</option>";
                        if (data) {
                            $.each(data, function (i, item) {
                                items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                            });
                        }
                        var duong = $(quan).closest(".table-container").find(".sel-duong");
                        $(duong).html(items);
                    });
                };

                grid.getTableWrapper().on('change', '.object-filter', function (e) {
                    var sel = $(this).val();
                    e.preventDefault();
                    grid.setAjaxParam("objectStatus", $(this).val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                    switch (sel) {
                        case '0':
                            {
                                $('.table-group-action-PendingPublish').removeClass('display-hide');
                                $('.table-group-action-RecentlyAdded').addClass('display-hide');
                                $('.table-group-action-Delete').removeClass('display-hide');

                                $(".table-container > div > div > div:eq(1)").removeClass("changed-status");
                            }
                            break;
                        case '1':
                            {
                                $('.table-group-action-PendingPublish').addClass('display-hide');
                                $('.table-group-action-RecentlyAdded').removeClass('display-hide');
                                $('.table-group-action-Delete').addClass('display-hide');

                                $(".table-container > div > div > div:eq(1)").addClass("changed-status");
                            }
                            break;
                    }
                });
                //Tìm kiếm END

                //Duyệt nhiều record
                grid.getTableWrapper().on('click', '.table-group-action-PendingPublish', function (e) {
                    e.preventDefault();
                    if (grid.getSelectedRowsCount() > 0) {

                        console.debug('grid.getSelectedRows(): ', grid.getSelectedRows());

                        SetArticleStatus(grid.getSelectedRows(), 1);
                    } else if (grid.getSelectedRowsCount() === 0) {
                        showNoty('Chưa có bản ghi nào được chọn!', 'error', 'center', 5000);
                    }
                });

                //Xóa nhiều bài viết
                grid.getTableWrapper().on('click', '.table-group-action-Delete', function (e) {
                    e.preventDefault();
                    if (grid.getSelectedRowsCount() > 0) {
                        if (confirm('Bạn có chắc chắn muốn xóa không?')) {
                            DeleteArticle(grid.getSelectedRows(), true);
                        }
                    } else if (grid.getSelectedRowsCount() === 0) {
                        showNoty('Chưa có bản ghi nào được chọn!', 'error', 'center', 5000);
                    }
                });

                //Duyệt
                grid.getTableWrapper().on('click', '.PendingPublish', function (e) {
                    e.preventDefault();
                    var ids = $(this).attr('data-objectid');
                    SetArticleStatus(ids, 1);
                });

                //Xóa 1 bài viết
                grid.getTableWrapper().on('click', '.Delete', function (e) {
                    e.preventDefault();
                    if (confirm('Bạn có chắc chắn muốn xóa không?')) {
                        var ids = $(this).attr('data-objectid');
                        var isKhach = $(this).attr('data-objectidkhach');
                        DeleteArticle(ids, isKhach);
                    }
                });

                //Hàm đổi trạng thái bài viết: 0: Chờ duyệt | 1: Đã duyệt
                var SetArticleStatus = function (ids, status) {
                    AdminVersionOne.blockUI({
                        message: 'Vui lòng đợi!',
                        overlayColor: 'none',
                        cenrerY: true,
                        boxed: true
                    });
                    var $url = ('@Url.RouteUrl("KhachThueSetKhachThueStatus", new { ids = "objectIds", status = "objectStatus" })').replace("objectIds", ids).replace("objectStatus", status);
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        async: true,
                        url: $url,
                        dataType: 'json',
                        success: function (result) {
                            if (result.success) {
                                showNoty(result.message, 'success', 'center', 5000);
                            }
                            else
                                showNoty(result.message, 'error', 'center', 5000);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            showNoty(errorThrown, 'error', 'center', 5000);
                        },
                        complete: function (result) {
                            grid.getDataTable().ajax.reload();
                            AdminVersionOne.unblockUI();
                        }
                    });
                    return;
                }

                //Hàm xóa bài viết
                var DeleteArticle = function (ids, isKhach) {
                    AdminVersionOne.blockUI({
                        message: 'Vui lòng đợi!',
                        overlayColor: 'none',
                        cenrerY: true,
                        boxed: true
                    });
                    var $url = ('@Url.RouteUrl("KhachThueDeleteKhachThues", new { ids = "objectIds", isKhach = "objectidkhach" })').replace("objectIds", ids).replace("objectidkhach", isKhach);
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        async: true,
                        url: $url,
                        dataType: 'json',
                        success: function (result) {
                            if (result.success) {
                                showNoty(result.message, 'success', 'center', 5000);
                            }
                            else
                                showNoty(result.message, 'error', 'center', 5000);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            showNoty(errorThrown, 'error', 'center', 5000);
                        },
                        complete: function (result) {
                            grid.getDataTable().ajax.reload();
                            AdminVersionOne.unblockUI();
                        }
                    });
                    return;
                }
            }
            return {
                init: function () {
                    handleArticle();
                }
            };
        }();
        jQuery(document).ready(function () {
            Article.init();

        });

    </script>
}
<style>
    .font-size-small {
        font-size: 10px;
    }

    .table-container > div > div > div:nth-child(2) {
        width: 100%;
    }

    .table-group-actions {
        margin-top: 201px;
    }

    .dataTables_filter {
        display: none;
    }

    .table-group-actions-2 {
        float: left !important;
        width: 100%;
        margin-top: -236px;
    }

        .table-group-actions-2 .row {
            margin-bottom: 10px;
        }

    .changed-status {
        margin-top: 35px !important;
    }

    #object-filter-quan, #object-filter-mattien, #object-filter-duong {
        width: 145px;
    }

    .inputwidth, .inputwidth.input-sm {
        width: 100% !important;
    }
</style>