@using Entities.Models;
@using Entities.Enums;
@{
    ViewBag.Title = "Quản lý danh mục tỉnh / thành phố";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Province, ActionEnum.Delete);
    var canCreate = RoleHelper.CheckPermission(ModuleEnum.Province, ActionEnum.Create);
    var canUpdate = RoleHelper.CheckPermission(ModuleEnum.Province, ActionEnum.Update);
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Quản lý danh mục tỉnh / thành phố</a>
            @*<i class="fa fa-angle-right"></i>*@
        </li>
    </ul>
</div>
@*Bắt đầu nội dung tùy chỉnh*@
<div class="row">
    <div class="col-md-6">
        <div class="portlet blue-hoki box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-puzzle-piece"></i>Danh mục tỉnh/thành phố - quận/huyện
                </div>
            </div>
            <div class="portlet-body">
                <div id="tree_4" class="tree-demo">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet green-meadow box create-or-update">
            @{Html.RenderAction("ListProvince");}
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/adminv1/style", "~/Content/adminv1/select2", "~/Content/adminv1/datatable")
}
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/jstree", "~/bundles/adminv1/select2", "~/bundles/adminv1/datatable")
}
@section Scripts2 {
    <script type="text/javascript">
        var ProvinceTableEditable = function () {
            var handleTable = function () {
                function restoreRow(oTable, nRow) {
                    var aData = oTable.fnGetData(nRow);
                    var jqTds = $('>td', nRow);

                    for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
                        oTable.fnUpdate(aData[i], nRow, i, false);
                    }

                    oTable.fnDraw();
                }

                function editRow(oTable, nRow) {
                    var aData = oTable.fnGetData(nRow);
                    var jqTds = $('>td', nRow);
                    jqTds[0].innerHTML = '<input type="text" class="form-control" value="' + aData[0] + '">';
                    jqTds[1].innerHTML = '<a class="edit" href="javascript:;">Ghi nhận</a>';
                    jqTds[2].innerHTML = '<a class="cancel" href="javascript:;">Hủy bỏ</a>';
                    $(jqTds[0]).find('input').focus();
                }

                function saveRow(oTable, nRow) {
                    var jqInputs = $('input', nRow);
                    oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
                    if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                        oTable.fnUpdate('<a class="edit" href="javascript:;">Cập nhật</a>', nRow, 1, false);
                    }
                    else {
                        oTable.fnUpdate('', nRow, 1, false);
                    }
                    if ('@canDelete' == 'true' || '@canDelete' == 'True') {
                        oTable.fnUpdate('<a class="delete" href="javascript:;">Xóa</a>', nRow, 2, false);
                    }
                    else {
                        oTable.fnUpdate('', nRow, 2, false);
                    }
                    oTable.fnDraw();
                }
                function updateRowId(oTable, nRow, id) {
                    $(nRow).attr('data-objectid', id);
                    oTable.fnDraw();
                }
                var table = $('#province_editable');

                var oTable = table.dataTable({
                    "lengthMenu": [
                        [10, 15, 20, -1],
                        [10, 15, 20, "All"]
                    ],
                    "pageLength": 10,
                    "language": {
                        "search": "Tìm kiếm: ",
                        "lengthMenu": "Hiển thị _MENU_ bản ghi mỗi trang",
                        "info": "Tổng số _TOTAL_ bản ghi",
                        "infoFiltered": "(tìm trong tổng số _MAX_ bản ghi)",
                        "infoEmpty": "Không tìm thấy bản ghi nào",
                        "emptyTable": "Không có dữ liệu",
                        "zeroRecords": "Không tìm thấy dữ liệu",
                        "paginate": {
                            "previous": "Trang trước",
                            "next": "Trang sau",
                            "last": "Trang cuối",
                            "first": "Trang đầu",
                            "page": "Trang",
                            "pageOf": " trong tổng số"
                        }
                    },
                    "columnDefs": [{
                        'orderable': true,
                        'targets': [0]
                    }, {
                        "searchable": true,
                        "targets": [0]
                    }],
                    "order": [
                        [0, "asc"]
                    ]
                });

                var tableWrapper = $("#province_editable_wrapper");

                tableWrapper.find(".dataTables_length select").select2({
                    showSearchInput: false
                });

                var nEditing = null;
                var nNew = false;

                $('#province_add_new').click(function (e) {
                    e.preventDefault();
                    if (nNew && nEditing) {
                        oTable.fnDeleteRow(nEditing); // cancel
                        nEditing = null;
                        nNew = false;
                        return;
                    }
                    if (nEditing) {
                        restoreRow(oTable, nEditing);
                        nEditing = null;
                    }
                    var aiNew = oTable.fnAddData(['', '', '']);
                    var nRow = oTable.fnGetNodes(aiNew[0]);
                    editRow(oTable, nRow);
                    nEditing = nRow;
                    nNew = true;
                });

                table.on('click', '.delete', function (e) {
                    e.preventDefault();
                    if (confirm("Bạn có chắc chắn muốn xóa tỉnh/thành phố này không?") == false) {
                        return;
                    }
                    var nRow = $(this).parents('tr')[0];
                    var $id = $(nRow).attr('data-objectid');

                    $.ajax({
                        type: 'POST',
                        url: '@Url.RouteUrl("ProvinceDelete")',
                        dataType: 'json',
                        data: { id: $id },
                        success: function (result) {
                            if (result.success == true) {
                                oTable.fnDeleteRow(nRow);
                                var tree = $('#tree_4').jstree(true);
                                tree.refresh();
                                showNoty('Đã xóa tỉnh/thành phố thành công!', 'success', 'center', 5000);
                            }
                            else {
                                showNoty(result.message, 'error', 'center', 5000);
                            }
                        },
                        error: function (xhr, ajaxOptions, error) {
                            showNoty('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!', 'error', 'center', 5000);
                            //location.reload(true);
                        }
                    });
                });

                table.on('click', '.cancel', function (e) {
                    e.preventDefault();
                    if (nNew) {
                        oTable.fnDeleteRow(nEditing);
                        nEditing = null;
                        nNew = false;
                    } else {
                        restoreRow(oTable, nEditing);
                        nEditing = null;
                    }
                });

                table.on('click', '.edit', function (e) {
                    e.preventDefault();
                    if (nNew && nEditing && this.innerHTML != "Ghi nhận") {
                        oTable.fnDeleteRow(nEditing); // cancel
                        nEditing = null;
                        nNew = false;
                    }
                    var nRow = $(this).parents('tr')[0];
                    if (nEditing !== null && nEditing != nRow) {
                        restoreRow(oTable, nEditing);
                        editRow(oTable, nRow);
                        nEditing = nRow;
                    } else if (nEditing == nRow && this.innerHTML == "Ghi nhận") {
                        if ($($(nRow).find('input')[0]).val() == '') {
                            showNoty('Vui lòng nhập tên!', 'error', 'center', 5000);
                            return false;
                        }
                        saveRow(oTable, nEditing);
                        //nEditing = null;
                        var $id = $(nEditing).attr('data-objectid');
                        $id = !isNaN($id) ? $id : 0;
                        var data2submit = JSON.stringify({
                            'Id': $id,
                            'Name': $(nRow).find('td')[0].innerHTML
                        });
                        var URL = '@Url.RouteUrl("ProvinceCreateOrUpdate")';
                        $.ajax({
                            type: 'POST',
                            url: URL,
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            data: data2submit,
                            success: function (result) {
                                if (result.success == true) {
                                    updateRowId(oTable, nEditing, result.id);                                   
                                    var tree = $('#tree_4').jstree(true);
                                    tree.refresh();
                                    showNoty('Đã ghi nhận thành công!', 'success', 'center', 5000);
                                }
                                else {
                                    showNoty(result.message, 'error', 'center', 5000);
                                }
                            },
                            error: function (xhr, ajaxOptions, error) {
                                showNoty('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!', 'error', 'center', 5000);
                                //location.reload(true);
                            },
                            complete: function (result) {
                                nEditing = null;
                                nNew = false;
                            }
                        });
                    } else {
                        editRow(oTable, nRow);
                        nEditing = nRow;
                    }
                });
            }
            return {
                init: function () {
                    handleTable();
                }
            };
        }();
    </script>
<script type="text/javascript">
    var DistrictTableEditable = function () {
        var handleTable = function () {
            function restoreRow(oTable, nRow) {
                var aData = oTable.fnGetData(nRow);
                var jqTds = $('>td', nRow);

                for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
                    oTable.fnUpdate(aData[i], nRow, i, false);
                }

                oTable.fnDraw();
            }

            function editRow(oTable, nRow) {
                var aData = oTable.fnGetData(nRow);
                var jqTds = $('>td', nRow);
                jqTds[0].innerHTML = '<input type="text" class="form-control" value="' + aData[0] + '">';
                jqTds[1].innerHTML = '<a class="edit" href="javascript:;">Ghi nhận</a>';
                jqTds[2].innerHTML = '<a class="cancel" href="javascript:;">Hủy bỏ</a>';
                $(jqTds[0]).find('input').focus();
            }

            function saveRow(oTable, nRow) {
                var jqInputs = $('input', nRow);
                oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
                oTable.fnUpdate('<a class="edit" href="javascript:;">Cập nhật</a>', nRow, 1, false);
                oTable.fnUpdate('<a class="delete" href="javascript:;">Xóa</a>', nRow, 2, false);
                oTable.fnDraw();
            }
            function updateRowId(oTable, nRow, id) {
                $(nRow).attr('data-objectid', id);
                oTable.fnDraw();
            }
            var table = $('#district_editable');

            var oTable = table.dataTable({
                "lengthMenu": [
                    [10, 15, 20, -1],
                    [10, 15, 20, "All"]
                ],
                "pageLength": 10,
                "language": {
                    "search": "Tìm kiếm: ",
                    "lengthMenu": "Hiển thị _MENU_ bản ghi mỗi trang",
                    "info": "Tổng số _TOTAL_ bản ghi",
                    "infoFiltered": "(tìm trong tổng số _MAX_ bản ghi)",
                    "infoEmpty": "Không tìm thấy bản ghi nào",
                    "emptyTable": "Không có dữ liệu",
                    "zeroRecords": "Không tìm thấy dữ liệu",
                    "paginate": {
                        "previous": "Trang trước",
                        "next": "Trang sau",
                        "last": "Trang cuối",
                        "first": "Trang đầu",
                        "page": "Trang",
                        "pageOf": " trong tổng số"
                    }
                },
                "columnDefs": [{
                    'orderable': true,
                    'targets': [0]
                }, {
                    "searchable": true,
                    "targets": [0]
                }],
                "order": [
                    [0, "asc"]
                ]
            });

            var tableWrapper = $("#district_editable_wrapper");

            tableWrapper.find(".dataTables_length select").select2({
                showSearchInput: false
            });

            var nEditing = null;
            var nNew = false;

            $('#district_add_new').click(function (e) {
                e.preventDefault();
                if (nNew && nEditing) {
                    oTable.fnDeleteRow(nEditing); // cancel
                    nEditing = null;
                    nNew = false;
                    return;
                }
                if (nEditing) {
                    restoreRow(oTable, nEditing);
                    nEditing = null;
                }
                var aiNew = oTable.fnAddData(['', '', '']);
                var nRow = oTable.fnGetNodes(aiNew[0]);
                editRow(oTable, nRow);
                nEditing = nRow;
                nNew = true;
            });

            table.on('click', '.delete', function (e) {
                e.preventDefault();
                if (confirm("Bạn có chắc chắn muốn xóa quận/huyện này không?") == false) {
                    return;
                }
                var nRow = $(this).parents('tr')[0];
                var $id = $(nRow).attr('data-objectid');

                $.ajax({
                    type: 'POST',
                    url: '@Url.RouteUrl("DistrictDelete")',
                    dataType: 'json',
                    data: { id: $id },
                    success: function (result) {
                        if (result.success == true) {
                            oTable.fnDeleteRow(nRow);
                            var currentNode = 'subnode_' + $id;
                            $('#tree_4').jstree(true).delete_node(currentNode);
                            showNoty('Đã xóa quận/huyện thành công!', 'success', 'center', 5000);
                        }
                        else {
                            showNoty(result.message, 'error', 'center', 5000);
                        }
                    },
                    error: function (xhr, ajaxOptions, error) {
                        showNoty('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!', 'error', 'center', 5000);
                        //location.reload(true);
                    }
                });
            });

            table.on('click', '.cancel', function (e) {
                e.preventDefault();
                if (nNew) {
                    oTable.fnDeleteRow(nEditing);
                    nEditing = null;
                    nNew = false;
                } else {
                    restoreRow(oTable, nEditing);
                    nEditing = null;
                }
            });

            table.on('click', '.edit', function (e) {
                e.preventDefault();
                if (nNew && nEditing && this.innerHTML != "Ghi nhận") {
                    oTable.fnDeleteRow(nEditing); // cancel
                    nEditing = null;
                    nNew = false;
                }
                var nRow = $(this).parents('tr')[0];
                if (nEditing !== null && nEditing != nRow) {
                    restoreRow(oTable, nEditing);
                    editRow(oTable, nRow);
                    nEditing = nRow;
                } else if (nEditing == nRow && this.innerHTML == "Ghi nhận") {
                    if ($($(nRow).find('input')[0]).val() == '') {
                        showNoty('Vui lòng nhập tên!', 'error', 'center', 5000);
                        return false;
                    }
                    saveRow(oTable, nEditing);
                    //nEditing = null;
                    var $id = $(nEditing).attr('data-objectid');
                    $id = !isNaN($id) ? $id : 0;
                    var data2submit = JSON.stringify({
                        'Id': $id,
                        'Name': $(nRow).find('td')[0].innerHTML,
                        'ProvinceId': $('#hiddenProvinceId').val(),
                    });
                    var URL = '@Url.RouteUrl("DistrictCreateOrUpdate")';
                    $.ajax({
                        type: 'POST',
                        url: URL,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: data2submit,
                        success: function (result) {
                            if (result.success == true) {
                                updateRowId(oTable, nEditing, result.id);
                                var provinceId = $('#hiddenProvinceId').val();
                                var parentNode = 'node_' + provinceId;
                                var tree = $('#tree_4').jstree(true);
                                tree.refresh_node(parentNode);
                                tree.open_node(parentNode);
                                showNoty('Đã ghi nhận thành công!', 'success', 'center', 5000);
                            }
                            else {
                                showNoty(result.message, 'error', 'center', 5000);
                            }
                        },
                        error: function (xhr, ajaxOptions, error) {
                            showNoty('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!', 'error', 'center', 5000);
                            //location.reload(true);
                        },
                        complete: function (result) {
                            nEditing = null;
                            nNew = false;
                        }
                    });
                } else {
                    editRow(oTable, nRow);
                    nEditing = nRow;
                }
            });
        }
        return {
            init: function () {
                handleTable();
            }
        };
    }();
</script>

    <script type="text/javascript">
        var UITree = function () {
            var ajaxTreeSample = function () {
                $("#tree_4").jstree({
                    "core": {
                        "themes": {
                            "responsive": true
                        },
                        "multiple": false,
                        "check_callback": true,
                        'data': {
                            'url': function (node) {
                                return node.id === '#' ? '@Url.RouteUrl("ProvinceGetProvinceJson")' : '@Url.RouteUrl("ProvinceGetDistrictJson")';
                            },
                            'data': function (node) {
                                return { 'parent': node.id };
                            }
                        }
                    },
                    "types": {
                        "default": {
                            "icon": "fa fa-folder icon-state-warning icon-lg"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-warning icon-lg"
                        }
                    },
                    'plugins': ["wholerow", "types", "contextmenu", "dnd"],
                });

            }
            return {
                init: function () {
                    ajaxTreeSample();
                }
            };
        }();
    </script>
    <script type="text/javascript">
    var ShowDetail = function (id) {
        $('.create-or-update').html('<div style="padding:30px;">Vui lòng đợi...</div>');
        AdminVersionOne.blockUI({
            message: 'Vui lòng đợi!',
            overlayColor: 'none',
            cenrerY: true,
            boxed: true
        });
        var $url = id == "#" ? '@Url.RouteUrl("ProvinceListProvince")' : '@Url.RouteUrl("ProvinceListDistrict")';
            $.ajax({
                type: 'GET',
                cache: false,
                async: true,
                url: $url,
                data: { id: id },
                dataType: 'html',
                success: function (data) {
                    $('.create-or-update').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('.create-or-update').html('<div style="padding:30px;">Không tải được dữ liệu.</div>');
                },
                complete: function (result) {
                    AdminVersionOne.unblockUI();
                    if (id == '#') {
                        ProvinceTableEditable.init();
                    }
                    else
                    {
                        DistrictTableEditable.init();
                    }
                }
            });
            return;
        };
        jQuery(document).ready(function () {
            UITree.init();
            ProvinceTableEditable.init();

            $('#tree_4')
                .on('changed.jstree', function (e, data) {
                    var i, j, r = [];
                    for (i = 0, j = data.selected.length; i < j; i++) {
                        r.push(data.instance.get_node(data.selected[i]).id);
                    }
                    var x = r.join(', ');
                    var tmp = x.split('_');
                    if (tmp.length > 1)
                        ShowDetail(tmp[1]);
                })
                .jstree();
        });
    </script>
}