@model Entities.Models.Nha
@{
    //IEnumerable<Entities.Models.ArticleCategory> articleCategory = (IEnumerable<Entities.Models.ArticleCategory>)ViewBag.ArticleCategory;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Xem chi tiết nhà</h4>  
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="row static-info">
                <div class="col-md-4 name">
                    Mặt bằng:
                </div>
                <div class="col-md-8 value">
                    @Html.Raw(ViewBag.MatBang)
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Quận:
                </div>
                <div class="col-md-8 value">
                    @ViewBag.Quan
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Đường:
                </div>
                <div class="col-md-8 value">
                    @ViewBag.Duong
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Số nhà:
                </div>
                <div class="col-md-8 value">
                    @Model.SoNha
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Tên tòa nhà
                </div>
                <div class="col-md-8 value">
                    @Model.TenToaNha
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Mặt tiền treo biển (m)
                </div>
                <div class="col-md-8 value mattientreobien">
                    <span> @Model.MatTienTreoBien</span>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    <span>Bề ngang lọt lòng (m)</span>
                </div>
                <div class="col-md-8 value benganglotlong">
                    <span> @Model.BeNgangLotLong </span>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Diện tích đất (m2)
                </div>
                <div class="col-md-8 value dientichdat">
                    <span> @Model.DienTichDat</span>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Diện tích đất sử dụng tầng 1 (m2)
                </div>
                <div class="col-md-8 value dientichdatsudungtang1">
                    <span>  @Model.DienTichDatSuDungTang1</span>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Số tầng
                </div>
                <div class="col-md-8 value">
                    @Model.SoTang
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Tổng diện tích sử dụng (m2)
                </div>
                <div class="col-md-8 value tongdientichsudung">
                    <span> @Model.TongDienTichSuDung</span>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Đi chung chủ
                </div>
                <div class="col-md-8 value">
                    @(Model.DiChungChu == true ? "Có" : "Không")
                </div>
            </div>

            @*<h4>Ảnh mô tả</h4>
                <img src="@(string.IsNullOrEmpty(Model.ImageDescription) ? "http://www.placehold.it/400x150/EFEFEF/AAAAAA&text=No+image" : Model.ImageDescription)" alt="" style="height:100%;" />
                <h4>Nội dung trích dẫn:</h4>
                <div>@Html.Raw(Model.Description)</div>
                <h4>Nội dung chi tiết:</h4>
                <div>@Html.Raw(Model.Description)</div>*@
        </div>
        <div class="col-md-6">
            <div class="row static-info">
                <div class="col-md-4 name">
                    Hầm
                </div>
                <div class="col-md-8 value">
                    @(Model.Ham == true ? "Có" : "Không")
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Thang máy
                </div>
                <div class="col-md-8 value">
                    @(Model.ThangMay == true ? "Có" :"Không")
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Nội thất/ Khách thuê cũ
                </div>
                <div class="col-md-8 value">
                    @ViewBag.NoiThatKhachThueCu
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Đánh giá phù hợp với
                </div>
                <div class="col-md-8 value">
                    @Html.Raw(ViewBag.DanhGiaPhuHopVoi)
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Tổng giá thuê
                </div>
                <div class="col-md-8 value tonggiathue">
                    <span> @Model.TongGiaThue</span>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Giá thuê BQ/m2
                </div>
                <div class="col-md-8 value giathuebq">
                    <span> @Model.GiaThueBQ</span>
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Tên người liên hệ - vai trò
                </div>
                <div class="col-md-8 value">
                    @Model.TenNguoiLienHeVaiTro
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Số điện thoại
                </div>
                <div class="col-md-8 value">
                    @Model.SoDienThoai
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Ngày CN hẹn liên hệ lại
                </div>
                <div class="col-md-8 value">
                    @(Model.NgayCNHenLienHeLai.HasValue ? Model.NgayCNHenLienHeLai.Value.ToString("dd/MM/yyyy") : "")
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Cấp độ theo dõi
                </div>
                <div class="col-md-8 value">
                    @ViewBag.CapDoTheoDoi
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Ghi chú
                </div>
                <div class="col-md-8 value">
                    @Model.GhiChu
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-4 name">
                    Ngày tạo
                </div>
                <div class="col-md-8 value">
                    @Model.NgayTao.ToString("dd/MM/yyyy")
                </div>
            </div>
            @*<h4>Ảnh mô tả</h4>
                <img src="@(string.IsNullOrEmpty(Model.ImageDescription) ? "http://www.placehold.it/400x150/EFEFEF/AAAAAA&text=No+image" : Model.ImageDescription)" alt="" style="height:100%;" />
                <h4>Nội dung trích dẫn:</h4>
                <div>@Html.Raw(Model.Description)</div>
                <h4>Nội dung chi tiết:</h4>
                <div>@Html.Raw(Model.Description)</div>*@
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Đóng lại</button>
</div> 
<script>
    $(function () {
        function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        setTimeout(function () {
            $(".mattientreobien span, .benganglotlong span, .dientichdat span, .dientichdatsudungtang1 span, .giathuebq span, .tonggiathue span, .tongdientichsudung span").each(function () {
                var itemValue = $(this).text().replace(/,/g, '').replace(".00", "");
                if ($.isNumeric(itemValue)) {
                    itemValue = addCommas(itemValue);
                }
                $(this).text(itemValue);
            });
        }, 300);

    });
</script> 
<style type="text/css">
    .modal-dialog {
        width: 960px; 
    }

    .static-info {
        margin-bottom: 10px;
    }
</style>