@using Entities.Enums;
@{
    ViewBag.Title = "Danh sách nhà";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Delete);
    var canCreate = RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Create);
    var canUpdate = RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Update);
    var canApprove = RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Verify);
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Danh sách nhà</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check-square font-green-sharp bold"></i>
                    <span class="caption-subject font-green-sharp bold ">Danh sách nhà</span>
                </div>
                @if (canCreate)
                {
                    <div class="actions">
                        <a href="@Url.RouteUrl("NhaCreate")" class="btn btn-sm green"><i class="fa fa-plus"></i> Thêm nhà mới</a>
                    </div>
                }
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div class="table-actions-2-wrapper" >
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Số điện thoại
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control input-inline input-small input-sm object-filter-sodienthoai" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Quận
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("object-filter-quan", (IEnumerable<SelectListItem>)ViewBag.QuanDropdownlist, "Chọn quận", new { @class = "form-control sel-quan" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Đường
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("object-filter-duong", (IEnumerable<SelectListItem>)ViewBag.DuongDropdownlist, "Chọn đường", new { @class = "form-control sel-duong" })
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Mặt tiền
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("object-filter-mattien", (IEnumerable<SelectListItem>)ViewBag.MatBangDropdownlist, "Chọn mặt tiền", new { @class = "form-control sel-mattien" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Diện tích
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control input-inline input-small input-sm object-filter-dientich" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                   Ghi chú
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control input-inline input-small input-sm object-filter-ghichu" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                   Giá từ
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control input-inline input-small input-sm object-filter-tu"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Đến
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control input-inline input-small input-sm object-filter-den" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    Trạng thái
                                </div>
                                <div class="col-md-8">
                                    <select class=" form-control input-inline input-small input-sm object-filter" >
                                        <option value="0">Chờ duyệt</option>
                                        <option value="1">Đã duyệt</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-actions-wrapper" >
                        @if (canApprove)
                        {
                            <button class="btn btn-sm blue table-group-action-PendingPublish"><i class="fa fa-check"></i> Duyệt</button>
                        }
                        @if (canDelete)
                        {
                            <button class="btn btn-sm red-flamingo table-group-action-Delete"><i class="fa fa-trash-o"></i> Xóa</button>
                        }
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="datatable_ajax_source">
                        <thead>
                            <tr role="row" class="heading">
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" />
                                </th>
                                <th>
                                    Tên người liên hệ
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                <th>
                                    Quận
                                </th>
                                <th>
                                    Tổng giá thuê
                                </th>
                                <th>
                                    Cấp độ theo dõi
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Hành động
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/adminv1/select2", "~/Content/adminv1/datatable")
}
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/select2", "~/bundles/adminv1/datatable")
    @Scripts.Render("~/bundles/adminv1/datatable-ajax-source")
}
@section Scripts2 {
    <script type="text/javascript">
        var Article = function () {
            var handleArticle = function () {
                var grid = new DatatableAjaxSource();
                grid.init({
                    src: $("#datatable_ajax_source"),
                    onSuccess: function (grid) {
                        // hành động khi tải xong dữ liệu
                    },
                    onError: function (grid) {
                        // hành động khi tải dữ liệu bị lỗi
                        var sel = $('select.object-filter').val();
                    },
                    dataTable: {
                        "ajax": {
                            "url": '@Url.RouteUrl("NhaGetNhaJson", new { status = 0 })',
                        },
                        "columnDefs": [{
                            "targets": -1,
                            "data": null,
                            "render": function (data, type, full) {
                                var sel = $('select.object-filter').val();
                                switch (sel) {
                                    //Lọc theo chờ duyệt
                                    case '0':
                                        var re = '';
                                        if ('@canApprove' == 'true' || '@canApprove' == 'True') {
                                            re = '<a class="btn btn-xs blue PendingPublish" data-objectid="' + data.Id + '" href="#"><i class="fa fa-check"></i> Duyệt</a>';
                                        }
                                        if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                            re = re + '<a class="btn btn-xs red-flamingo RecentlyAdded" data-objectid="' + data.Id + '" href="' + ('@Url.RouteUrl("NhaUpdate", new { id = "objectId" })').replace("objectId", data.Id) + '"><i class="fa fa-edit"></i> Sửa</a>';
                                        }
                                        if ('@canDelete' == 'true' || '@canDelete' == 'True') {
                                            re = re + '<a class="btn default btn-xs red-flamingo Delete" data-objectid="' + data.Id + '" href="#"><i class="fa fa-trash-o"></i> Xóa</a>';
                                        }
                                        re = re + '<a class="btn btn-xs blue @ViewBag.HidenClass" href="' + ('@Url.RouteUrl("TimKhach", new { id = "objectId" })').replace("objectId", data.Id) + '" data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-search"></i> Khách phù hợp</a>';
                                        return re;
                                        break;
                                        //Lọc theo đã duyệt
                                    case '1':
                                        if ('@canUpdate' == 'true' || '@canUpdate' == 'True') {
                                            re = '<a class="btn btn-xs red-flamingo RecentlyAdded" data-objectid="' + data.Id + '" href="#"><i class="fa fa-edit"></i> Sửa</a>';
                                            re = re + '<a class="btn btn-xs blue @ViewBag.HidenClass" href="' + ('@Url.RouteUrl("TimKhach", new { id = "objectId" })').replace("objectId", data.Id) + '" data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-search"></i> Khách phù hợp</a>';
                                            re = re + '<a class="btn btn-xs blue" href="' + ('@Url.RouteUrl("RaoVatModal", new { id = "objectId" })').replace("objectId", data.Id) + '" data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-share"></i> Đăng rao vặt</a>';
                                            return re;
                                        }
                                        else {
                                            return '';
                                        }
                                        break;
                                    default:
                                        return '';
                                }
                            },
                        }],
                        "columns": [
                            {
                                "searchable": false,
                                "orderable": false,
                                "data": "Id",
                                "render": function (data, type, full) {
                                    return '<input type="checkbox" value="' + data + '" class="checkboxes">';
                                }
                            },
                            {
                                "searchable": true,
                                "orderable": true,
                                "data": null,
                                "render": function (data, type, full) {
                                    return '<a href="' + ('@Url.RouteUrl("NhaDetailModal", new { id = "objectId" })').replace("objectId", data.Id) + '" data-target="#ajaxmodal" data-toggle="modal">' + data.TenNguoiLienHeVaiTro + '</a>'
                                }
                            },
                    { data: "SoDienThoai" },
                    { data: "Quan" },
                    //{ data: "Duong" },
                    { data: "TongGiaThue" },
                    { data: "CapDoTheoDoi" },
                    { data: "TrangThai" },
                    { data: null }
                        ],
                        "order": [
                            [2, "desc"]
                        ] // ép sắp xếp theo cột thứ 3
                    }
                });

                //Tìm kiếm START
                //Số điện thoại
                grid.getTableWrapper().on('change', '.object-filter-sodienthoai', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectSoDienThoai", $('.object-filter-sodienthoai').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Quận
                $(document).on('change', '.sel-quan', function (e) {
                    GetDuongByQuan($(this).val(), $(this));

                    e.preventDefault();
                    grid.setAjaxParam("objectQuan", $('.object-filter-quan').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Dường
                $(document).on('change', '.sel-duong', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectDuong", $('.object-filter-duong').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Mặt tiền
                $(document).on('change', '.sel-mattien', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectMatTien", $('.object-filter-mattien').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Diện tích
                $(document).on('change', '.object-filter-dientich', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectDienTich", $('.object-filter-dientich').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Ghi chú
                $(document).on('change', '.object-filter-ghichu', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectGhiChu", $('.object-filter-ghichu').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Gía từ
                $(document).on('change', '.object-filter-tu', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectTu", $('.object-filter-tu').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                //Gía đến
                $(document).on('change', '.object-filter-den', function (e) {
                    e.preventDefault();
                    grid.setAjaxParam("objectDen", $('.object-filter-den').val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                });

                function GetDuongByQuan(id, quan) {
                    var URL = ('@Url.RouteUrl("SharedGetDuongByQuan", new { quanId = "objectIdReplacement" })').replace('objectIdReplacement', id);
                    $.getJSON(URL, function (data) {
                        var items = "<option value=''>Chọn đường</option>";
                        if (data) {
                            $.each(data, function (i, item) {
                                items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                            });
                        }
                        var duong = $(quan).closest(".table-container").find(".sel-duong");
                        $(duong).html(items);
                    });
                };
                
                grid.getTableWrapper().on('change', '.object-filter', function (e) {
                    var sel = $(this).val();
                    e.preventDefault();
                    grid.setAjaxParam("objectStatus", $(this).val());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                    switch (sel) {
                        case '0':
                            {
                                $('.table-group-action-PendingPublish').removeClass('display-hide');
                                $('.table-group-action-RecentlyAdded').addClass('display-hide');
                                $('.table-group-action-Delete').removeClass('display-hide');

                                $(".table-container > div > div > div:eq(1)").removeClass("changed-status");
                            }
                            break;
                        case '1':
                            {
                                $('.table-group-action-PendingPublish').addClass('display-hide');
                                $('.table-group-action-RecentlyAdded').removeClass('display-hide');
                                $('.table-group-action-Delete').addClass('display-hide');

                                $(".table-container > div > div > div:eq(1)").addClass("changed-status");
                            }
                            break;
                    }
                });

              
               

                //grid.getTableWrapper().on('change', '.object-filter-tu', function (e) {
                //    e.preventDefault();
                //    grid.setAjaxParam("objectGiaTu", $('.object-filter-tu').val());
                //    grid.setAjaxParam("objectGiaDen", $('.object-filter-den').val());
                //    grid.getDataTable().ajax.reload();
                //    grid.clearAjaxParams();
                //});

                //grid.getTableWrapper().on('change', '.object-filter-den', function (e) {
                //    e.preventDefault();
                //    grid.setAjaxParam("objectGiaTu", $('.object-filter-tu').val());
                //    grid.setAjaxParam("objectGiaDen", $('.object-filter-den').val());
                //    grid.getDataTable().ajax.reload();
                //    grid.clearAjaxParams();
                //});
                //Tìm kiếm END

                //Duyệt nhiều record
                grid.getTableWrapper().on('click', '.table-group-action-PendingPublish', function (e) {
                    e.preventDefault();
                    if (grid.getSelectedRowsCount() > 0) {
                        SetArticleStatus(grid.getSelectedRows(), 1);
                    } else if (grid.getSelectedRowsCount() === 0) {
                        showNoty('Chưa có bản ghi nào được chọn!', 'error', 'center', 5000);
                    }
                });

                //Xóa nhiều bài viết
                grid.getTableWrapper().on('click', '.table-group-action-Delete', function (e) {
                    e.preventDefault();
                    if (grid.getSelectedRowsCount() > 0) {
                        if (confirm('Bạn có chắc chắn muốn xóa không?')) {
                            DeleteArticle(grid.getSelectedRows());
                        }
                    } else if (grid.getSelectedRowsCount() === 0) {
                        showNoty('Chưa có bản ghi nào được chọn!', 'error', 'center', 5000);
                    }
                });

                //Duyệt
                grid.getTableWrapper().on('click', '.PendingPublish', function (e) {
                    e.preventDefault();
                    var ids = $(this).attr('data-objectid');
                    SetArticleStatus(ids, 1);
                });

                //Xóa 1 bài viết
                grid.getTableWrapper().on('click', '.Delete', function (e) {
                    e.preventDefault();
                    if (confirm('Bạn có chắc chắn muốn xóa không?')) {
                        var ids = $(this).attr('data-objectid');
                        DeleteArticle(ids);
                    }
                });

                //Hàm đổi trạng thái bài viết: 0: Chờ duyệt | 1: Đã duyệt
                var SetArticleStatus = function (ids, status) {
                    AdminVersionOne.blockUI({
                        message: 'Vui lòng đợi!',
                        overlayColor: 'none',
                        cenrerY: true,
                        boxed: true
                    });
                    var $url = ('@Url.RouteUrl("NhaSetNhaStatus", new { ids = "objectIds", status = "objectStatus" })').replace("objectIds", ids).replace("objectStatus", status);
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        async: true,
                        url: $url,
                        dataType: 'json',
                        success: function (result) {
                            if (result.success) {
                                showNoty(result.message, 'success', 'center', 5000);
                            }
                            else
                                showNoty(result.message, 'error', 'center', 5000);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            showNoty(errorThrown, 'error', 'center', 5000);
                        },
                        complete: function (result) {
                            grid.getDataTable().ajax.reload();
                            AdminVersionOne.unblockUI();
                        }
                    });
                    return;
                }

                //Hàm xóa bài viết
                var DeleteArticle = function (ids) {
                    AdminVersionOne.blockUI({
                        message: 'Vui lòng đợi!',
                        overlayColor: 'none',
                        cenrerY: true,
                        boxed: true
                    });
                    var $url = ('@Url.RouteUrl("NhaDeleteNhas", new { ids = "objectIds" })').replace("objectIds", ids);
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        async: true,
                        url: $url,
                        dataType: 'json',
                        success: function (result) {
                            if (result.success) {
                                showNoty(result.message, 'success', 'center', 5000);
                            }
                            else
                                showNoty(result.message, 'error', 'center', 5000);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            showNoty(errorThrown, 'error', 'center', 5000);
                        },
                        complete: function (result) {
                            grid.getDataTable().ajax.reload();
                            AdminVersionOne.unblockUI();
                        }
                    });
                    return;
                }
            }
            return {
                init: function () {
                    handleArticle();
                }
            };
        }();
        jQuery(document).ready(function () {
            Article.init();

        });
    </script>
}
<style>
    .table-container > div > div > div:nth-child(2) {
        width: 100%;
        margin-top: -75px;
        padding-bottom: 30px;
    }
    .table-group-actions {
        margin-top: 100px;
        margin-bottom: -80px;
    }
    .dataTables_filter{
        display: none;
    }
    .table-group-actions-2 {
        float: left !important;
        margin-top: 15px;
        width: 100%;
    }
    .table-group-actions-2 .row{
        margin-bottom: 10px;
    }
    .changed-status{
        margin-top: -40px !important;
    }
    #object-filter-quan{
        width:145px;
    }
    #object-filter-duong {
        width: 145px;
    }
</style>



