@model  IEnumerable<Entities.ViewModels.KhachThueUpdatingViewModel>
@{
    var nhaId = ViewBag.NhaId;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Danh sách khách thuê phù hợp với nhà</h4>
</div>
<div class="modal-body" style="height: auto;">
    <table class="table table-hover table_phancong">
        <thead>
            <tr>
                <th>Tên khách</th>
                <th>Só điện thoại</th>
                <th>Quận</th>
                <th>Đường</th>
                <th>Diện tích đất</th>
                <th>Tổng giá thuê</th>
                <th>Chọn nhân viên chăm sóc</th>
            </tr>
        </thead>
        <tbody>
            @*@using (Html.BeginForm("PhanCong", "Nha", FormMethod.Post, new { @class = "form-horizontal form-bordered form-row-stripped" }))
                {*@
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TenKhach</td>
                        <td>@item.SoDienThoai</td>
                        <td>@item.QuanName</td>
                        <td>@item.DuongName</td>
                        <td>@item.DienTichDat</td>
                        <td>@item.TongGiaThue</td>
                        <td style="display: flex;">
                            @Html.DropDownList("NhanVienPhuTrachId", (IEnumerable<SelectListItem>)ViewBag.Accounts, new { @class = "form-control getuserid " +  @item.DaPhanCong, @style = "width: 150px;" })
                            <a href="@Url.RouteUrl("PhanCong", new { id = item.Id, khachId = item.KhachId, nhaId = nhaId })" class="btn btn-xs blue @item.DaPhanCong" style="margin-left: 10px;"><i class="fa fa-check" style="margin-top: 5px;"></i> Phân công</a>
                            @if (item.DaPhanCong == "hidden")
                            {
                                <span style="margin-left: 15px; color: #428bca;font-style:italic"> <i class="fa fa-check-square"></i> Đã phân công</span>
                            }
                        </td>
                    </tr>
                }
            }
            @*  *@
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Đóng lại</button>
</div>
<script type="text/javascript">
    $(function () {
        $('.getuserid').change(function () {
            var trIndex = $(this).closest("tr").index();
            var arrUrl = $(".table_phancong tbody tr:eq(" + trIndex + ") a").attr("href").split("/");
            var url = "";
            if (arrUrl != undefined && arrUrl.length > 7) {
                for (var i = 0; i < 7; i++) {
                    url = url + arrUrl[i] + "/";
                }
            }
            $(".table_phancong tbody tr:eq(" + trIndex + ") a").attr("href", url + $(this).val());
        });

        $(".modal-dialog .table_phancong tr").each(function () {
            var selectValue = $(this).find("select option:eq(0)").val();
            $(this).find("a").attr("href", $(this).find("a").attr("href") + "/" + selectValue);
        });
    })
</script>

<style type="text/css">
    .modal-dialog {
        width: 86%;
    }

    .static-info {
        margin-bottom: 10px;
    }

    .getuserid {
        height: 24px;
        margin-right: 5px;
        padding: 0;
    }
</style>
<script>
    //$(function () {
    //    $('.getuserid').change(function () {
    //        var trIndex = $(this).closest("tr").index();
    //        var arrUrl = $(".table_phancong tbody tr:eq(" + trIndex + ") a").attr("href").split("/");
    //        var url = "";
    //        if (arrUrl != undefined && arrUrl.length > 7) {
    //            for (var i = 0; i < 7; i++) {
    //                url = url + arrUrl[i] + "/";
    //            }
    //        }
    //        $(".table_phancong tbody tr:eq(" + trIndex + ") a").attr("href", url + $(this).val());
    //    });

    //    $(".modal-dialog .table_phancong tr").each(function () {
    //        var selectValue = $(this).find("select option:eq(0)").val();
    //        $(this).find("a").attr("href", $(this).find("a").attr("href") + "/" + selectValue);
    //    });
    //})
</script>