@using Entities.Models;
@using Entities.Enums;
@model Profile
@{
    ViewBag.Title = "Tạo tài khoản cho hồ sơ";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Profile, ActionEnum.Delete);
    var canUpdate = RoleHelper.CheckPermission(ModuleEnum.Profile, ActionEnum.Update);
    var canUpdate2 = RoleHelper.CheckPermission(ModuleEnum.ProfileApprove, ActionEnum.Update);
    var canApprove = RoleHelper.CheckPermission(ModuleEnum.Profile, ActionEnum.Verify);
    var canApprove2 = RoleHelper.CheckPermission(ModuleEnum.ProfileApprove, ActionEnum.Verify);
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.RouteUrl("ProfileIndex")">Danh sách hồ sơ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Tạo tài khoản cho hồ sơ</a>
        </li>
    </ul>
</div>
@*Bắt đầu nội dung tùy chỉnh*@
<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar" style="width:250px;">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <img src="@(string.IsNullOrEmpty(Model.ProfilePicture) ? "http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=No+image" :  Model.ProfilePicture)" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.Name
                    </div>
                    <div class="profile-usertitle-job">
                        @Model.Email
                    </div>
                </div>
                <div class="profile-userbuttons">
                    @if (Model.Status == 1)
                    {
                        <h2>
                            <span class="label label-primary">
                                <i class="fa fa-clock-o"></i>  Chưa duyệt
                            </span>
                        </h2>
                        if (canApprove || canApprove2)
                        {
                            <a class="btn btn-circle green btn-sm" href="@Url.RouteUrl("ProfileApprove", new { id = Model.Id })"><i class="fa fa-check-square-o"></i> Duyệt ngay</a>
                            <a class="btn btn-circle btn-danger btn-sm" href="@Url.RouteUrl("ProfileUnApprovedMessageModal", new { id = Model.Id, type = 1 })" data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-ban"></i> Không duyệt</a>
                        }
                    }
                    else if (Model.Status == 2)
                    {
                        <h2>
                            <span class="label label-success">
                                <i class="fa fa-check-square-o"></i> Đã duyệt
                            </span>
                        </h2>
                        if (canApprove || canApprove2)
                        {
                            <a class="btn btn-circle btn-danger btn-sm" href="@Url.RouteUrl("ProfileUnApprovedMessageModal", new { id = Model.Id, type = 2 })" data-target="#ajaxmodal" data-toggle="modal"><i class="fa fa-ban"></i> Hủy duyệt</a>
                        }
                    }
                    else
                    {
                        <h2>
                            <span class="label label-danger">
                                <i class="fa fa-ban"></i> Không được duyệt
                            </span>
                        </h2>
                        <div>Lý do: @Html.Raw(Model.UnApprovedMessage)</div>
                        if (canApprove || canApprove2)
                        {
                            <a class="btn btn-circle green btn-sm" href="@Url.RouteUrl("ProfileApprove", new { id = Model.Id })"><i class="fa fa-check-square-o"></i> Duyệt ngay</a>
                        }
                    }

                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="@Url.RouteUrl("ProfileDetail", new { id = Model.Id })">
                                <i class="icon-home"></i>
                                Chi tiết hồ sơ
                            </a>
                        </li>
                        @if (canUpdate || canUpdate2)
                        {
                            <li>
                                <a href="@Url.RouteUrl("ProfileUpdate", new { id = Model.Id })">
                                    <i class="icon-settings"></i>
                                    Cập nhật hồ sơ
                                </a>
                            </li>
                        }
                        @if (Model.Status == 2 && (canUpdate || canUpdate2))
                        {
                            if (Model.Account != null)
                            {
                                <li class="active">
                                    <a href="javascript:void(0);">
                                        <i class="icon-settings"></i>
                                        Đã tạo tài khoản
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="active">
                                    <a href="@Url.RouteUrl("ProfileCreateAccount", new { id = Model.Id })">
                                        <i class="icon-settings"></i>
                                        Tạo tài khoản
                                    </a>
                                </li>
                            }
                            if (Model.Account != null)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("ProfileCommittee", new { id = Model.Id })">
                                        <i class="icon-settings"></i>
                                        Phân quyền duyệt hồ sơ
                                    </a>
                                </li>
                            }
                        }
                        @if (canDelete)
                        {
                            <li>
                                <a href="@Url.RouteUrl("ProfileDelete", new { id = Model.Id })" onclick="return confirm('Bạn có chắc chắn muốn xóa hồ sơ này không?')">
                                    <i class="fa fa-trash-o"></i>
                                    Xóa hồ sơ này
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-body form">
                            @using (Html.BeginForm("CreateAccount", "Profile", FormMethod.Post, new { @class = "form-horizontal form-create-account" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Status)
                                <div class="form-body">
                                    <h2 style="margin:0;" class="margin-bottom-30"> Tạo tài khoản cho hồ sơ - @Model.Name </h2>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Địa chỉ Email <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Mật khẩu <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" name="Password" id="Password" class="form-control" />
                                            <a href="javascript:void(0);" class="btn btn-warning create-random-string" style="margin-top:5px;">Tạo ngẫu nhiên</a>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            <label class="control-label col-md-3">
                                                Xác nhận mật khẩu <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" />
                                            </div>
                                        </div>*@
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green">Ghi nhận <i class="fa fa-check"></i></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/adminv1/profile")
    <style>
        .form-group {
            /*margin-bottom: 0;*/
        }
    </style>
}
@section Scripts {
    <script type="text/javascript" src="~/Editor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Editor/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        function randString(n) {
            if (!n) {
                n = 8;
            }
            var text = '';
            var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            for (var i = 0; i < n; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }
            return text;
        }
        jQuery(document).ready(function () {
            $('#Password').focus();
            $('#Password').val(randString(8));
            $(document).on('click', '.create-random-string', function (e) {
                $('#Password').val(randString(8));
            });
            $(document).on('click', '.btn-un-approve', function (e) {
                e.preventDefault();
                AdminVersionOne.blockUI({
                    message: 'Vui lòng đợi!',
                    overlayColor: 'none',
                    cenrerY: true,
                    boxed: true
                });
                for (instance in CKEDITOR.instances) {
                    CKEDITOR.instances[instance].updateElement();
                }
                var URL = '@Url.RouteUrl("ProfileUnApprovedJson")';
                $.ajax({
                    type: 'POST',
                    url: URL,
                    dataType: 'json',
                    data: $('.form-un-approve').serialize(),
                    success: function (result) {
                        if (result.success == true) {
                            showNoty('Đã ghi nhận thành công!', 'success', 'center', 5000);
                        }
                        else {
                            showNoty(result.message, 'error', 'center', 5000);
                        }
                    },
                    error: function (xhr, ajaxOptions, error) {
                        showNoty('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!', 'error', 'center', 5000);
                    },
                    complete: function (result) {
                        $('.modal-header .close').click();
                        AdminVersionOne.unblockUI();
                        setTimeout("location.reload(true);", 5000);
                    }
                });
            });
            $(document).on('submit', '.form-create-account', function (e) {
                var pw = $.trim($('#Password').val());
                //var cpw = $.trim($('#ConfirmPassword').val());
                if (pw == '') {
                    showNoty('Vui lòng nhập mật khẩu!', 'error', 'center', 5000);
                    $('#Password').focus();
                    return false;
                }
                if (pw.length < 6) {
                    showNoty('Mật khẩu phải có độ dài ít nhất là 6 ký tự!', 'error', 'center', 5000);
                    $('#Password').focus();
                    return false;
                }
                //if (cpw == '') {
                //    showNoty('Vui lòng xác nhận mật khẩu!', 'error', 'center', 5000);
                //    $('#ConfirmPassword').focus();
                //    return false;
                //}
                //if (pw != cpw) {
                //    showNoty('Mật khẩu không khớp nhau!', 'error', 'center', 5000);
                //    $('#Password').focus();
                //    return false;
                //}
                AdminVersionOne.blockUI({
                    message: 'Vui lòng đợi!',
                    overlayColor: 'none',
                    cenrerY: true,
                    boxed: true
                });
            });
        });
    </script>
}