@model Entities.ViewModels.ForgetPasswordViewModel
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
    ICaptcha captcha = Html.Captcha("Đổi mã khác", "Nhập mã bảo mật phía trên:", 5, "Vui lòng nhập mã bảo mật!", false);
    bool success = false;
    if (ViewBag.Success != null) { success = (bool)ViewBag.Success; }
}

<div class="content">
    <div class="left_detail">
        <h2>Quên mật khẩu</h2>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-12 form">
                @if (success)
                {
                    <div>
                        Chúng tôi đã nhận yêu cầu lấy lại mật khẩu của quí vị. 
                        <br />Quí vị vui lòng kiểm tra email và làm theo hướng dẫn!
                    </div>
                }
                else
                {
                    using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post, new { @class = "login-form form-horizontal" }))
                    {
                        <div class="form-body">
                            <div class="note note-success">
                                <p>Quí vị vui lòng nhập địa chỉ email để lấy mật khẩu mới.</p>
                                <p>Mật khẩu mới sẽ được gửi qua email và có hiệu lực trong vòng 24h từ lúc quí vị yêu cầu.</p>
                            </div>
                            @Html.AntiForgeryToken()
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-dismiss="alert"></button>
                                    @Html.ValidationSummary(true)
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Mã bảo mật</label>
                                <div class="col-md-4">
                                    @captcha.RenderMarkup()
                                    @Html.ValidationMessage("CaptchaInputText")
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button type="submit" class="btn green-haze pull-right">
                                        Gửi đi <i class="m-icon-swapright m-icon-white"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="right_detail">
        @{Html.RenderAction("MostViewed2", "Shared");}
    </div>
    <div class="clear"></div>
</div>
@section styles{
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/components")
    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/custom")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#CaptchaInputText').addClass('form-control');
            $('#email_forget').focus();
        });
    </script>
    @captcha.RenderScript()
}
