@using Common;
@using Entities.Models;
@model IEnumerable<Article>
@{
    Category category = (Category)ViewBag.Category;
    Category rootCategory = (Category)ViewBag.RootCategory;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout_Category4.cshtml";
    var pagingInfo = (PagingInfo)ViewBag.PagingInfo;
}
<div class="category-header">
    <div class="category-header-detail">
        <img src="@(string.IsNullOrEmpty(rootCategory.DescriptionIcon) ? " />Images/FrontEndV1/img_mainDetail.jpg" : rootCategory.DescriptionIcon)" alt="@rootCategory.Name" title="@rootCategory.Name" />
        @if (rootCategory != null && !rootCategory.IsNullOrEmpty)
        {
            <h2>@rootCategory.Name</h2>
        }
    </div>
</div>
<div class="category-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.RouteUrl("FrontEndHomeIndex")">Trang chủ</a>
                <i class="fa fa-angle-right"></i>
            </li>
            @if (rootCategory != null)
            {
                <li>
                    @if (string.IsNullOrEmpty(rootCategory.Link))
                    {
                        <a href="@Url.RouteUrl("FrontEndArticleIndex", new { categoryname = StringHelper.StringFilter(rootCategory.Name), categoryid = rootCategory.Id })">@rootCategory.Name</a>
                    }
                    else
                    {
                        <a href="@rootCategory.Link">@rootCategory.Name</a>
                    }
                    <i class="fa fa-angle-right"></i>
                </li>
            }
            @if (category != null && category != rootCategory)
            {
                if (category.ParentCategory != null && category.ParentCategory != rootCategory)
                {
                    <li>
                        @if (string.IsNullOrEmpty(category.ParentCategory.Link))
                        {
                            <a href="@Url.RouteUrl("FrontEndArticleIndex", new { categoryname = StringHelper.StringFilter(category.ParentCategory.Name), categoryid = category.ParentCategory.Id })">@category.ParentCategory.Name</a>
                        }
                        else
                        {
                            <a href="@category.ParentCategory.Link">@category.ParentCategory.Name</a>
                        }
                        <i class="fa fa-angle-right"></i>
                    </li>
                }
            }
            @if (category != null && category != rootCategory)
            {
                <li>
                    <span>@category.Name</span>
                </li>
            }
        </ul>
    </div>
    <div class="clear">
        <div class="category-detail">
            <h3>@category.Name</h3>
            <div class="category-description">
                @Html.Raw(category.Description)
            </div>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <h2>
                        <a href="@Url.RouteUrl("FrontEndArticleDetail", new { categoryName = StringHelper.StringFilter(category.Name), title = StringHelper.StringFilter(item.Title), categoryId = category.Id, id = item.Id })" title="@item.Title">
                            @item.Title
                        </a>
                    </h2>
                    <div class="clear" style="margin-bottom:10px;">
                        <p class="pic">
                            <a href="@Url.RouteUrl("FrontEndArticleDetail", new { categoryName = StringHelper.StringFilter(category.Name), title = StringHelper.StringFilter(item.Title), categoryId = category.Id, id = item.Id })">
                                <img alt="@item.Title" src="@(string.IsNullOrEmpty(item.ImageDescription) ? "http://www.placehold.it/180x108/EFEFEF/AAAAAA&text=No+image" : item.ImageDescription)" title="@item.Title">
                            </a>
                        </p>
                        <div>
                            @Html.Raw(item.Description)
                            <a title="Xem chi tiết" href="@Url.RouteUrl("FrontEndArticleDetail", new { categoryName = StringHelper.StringFilter(category.Name), title = StringHelper.StringFilter(item.Title), categoryId = category.Id, id = item.Id })" class="readon">xem tiếp</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
                
                <div class="navigation">
                    Trang
                    @Html.Raw(Html.pageLinks(pagingInfo.TotalPages, pagingInfo.CurrentPage, x => Url.RouteUrl("FrontEndArticleIndex", new { categoryName = StringHelper.StringFilter(category.Name), categoryId = category.Id, p = x })))
                </div>
            }
        </div>
        <div class="right-content">
            @if (rootCategory != null)
            {
                long cat = (category != null && !category.IsNullOrEmpty) ? category.Id : 0;
                @Html.Partial("_RightMenu2", rootCategory, new ViewDataDictionary { { "categoryId", cat } });

            }
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    jQuery(document).ready(function () {
        var a = 'category_menu_' + '@rootCategory.Id';
        if ('#' + a) {
            $('#' + a).addClass('active');
        }
    });
    </script>
}