@using Common;
@using Entities.Models;
@{
    Category category = (Category)ViewBag.Category;
    Category rootCategory = (Category)ViewBag.RootCategory;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout_Category3.cshtml";

}
<div class="category-header">
    <div class="category-header-detail">
        <img src="@(string.IsNullOrEmpty(rootCategory.DescriptionIcon) ? " />Images/FrontEndV1/img_mainDetail.jpg" : rootCategory.DescriptionIcon)" alt="@rootCategory.Name" title="@rootCategory.Name" />
        @if (rootCategory != null && !rootCategory.IsNullOrEmpty)
        {
            <h2>@rootCategory.Name</h2>
        }
    </div>
</div>
<div class="category-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.RouteUrl("FrontEndHomeIndex")">Trang chủ</a>
                <i class="fa fa-angle-right"></i>
            </li>
            @if (rootCategory != null)
            {
                <li>
                    @if (string.IsNullOrEmpty(rootCategory.Link))
                    {
                        <a href="@Url.RouteUrl("FrontEndArticleIndex", new { categoryname = StringHelper.StringFilter(rootCategory.Name), categoryid = rootCategory.Id })">@rootCategory.Name</a>
                    }
                    else
                    {
                        <a href="@rootCategory.Link">@rootCategory.Name</a>
                    }
                    <i class="fa fa-angle-right"></i>
                </li>
            }
            @if (category != null && category != rootCategory)
            {
                if (category.ParentCategory != null && category.ParentCategory != rootCategory)
                {
                    <li>
                        @if (string.IsNullOrEmpty(category.ParentCategory.Link))
                        {
                            <a href="@Url.RouteUrl("FrontEndArticleIndex", new { categoryname = StringHelper.StringFilter(category.ParentCategory.Name), categoryid = category.ParentCategory.Id })">@category.ParentCategory.Name</a>
                        }
                        else
                        {
                            <a href="@category.ParentCategory.Link">@category.ParentCategory.Name</a>
                        }
                        <i class="fa fa-angle-right"></i>
                    </li>
                }
            }
            @if (category != null && category != rootCategory)
            {
                <li>
                    <span>@category.Name</span>
                </li>
            }
        </ul>
    </div>
    <div class="clear">
        <div class="category-detail">
            <h3>@category.Name</h3>
            <div class="category-description">
                @Html.Raw(category.Description)
            </div>
            @if (category.Categories != null && category.Categories.Any())
            {
                <ul>
                    @foreach (var item in category.Categories.OrderBy(o => o.OrdinalNumber))
                    {
                        <li>
                            <h2>
                                @if (string.IsNullOrEmpty(item.Link))
                                {
                                    <a href="@Url.RouteUrl("FrontEndArticleIndex", new { categoryName = StringHelper.StringFilter(item.Name), categoryId = item.Id })">@item.Name</a>
                                }
                                else
                                {
                                    <a href="@item.Link">@item.Name</a>
                                }
                            </h2>
                            <div class="category-description">
                               @if(!string.IsNullOrEmpty(item.Description)) {
                                  @Common.CommonHelper.RemoveHtmlTags(item.Description, 200)<span>...</span>
                               }
                            </div>
                            @if (string.IsNullOrEmpty(category.Link))
                            {
                            <a href="@Url.RouteUrl("FrontEndArticleIndex", new { categoryName = StringHelper.StringFilter(category.Name), categoryId = category.Id })" title="Xem tiếp" class="readon">xem tiếp</a>
                            }
                            else
                            {
                            <a href="@category.Link" title="Xem tiếp" class="readon">xem tiếp</a>
                            }
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="right-content">
            @if (rootCategory != null)
            {
                long cat = (category != null && !category.IsNullOrEmpty) ? category.Id : 0;
                @Html.Partial("_RightMenu2", rootCategory, new ViewDataDictionary { { "categoryId", cat } });

            }
            
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    jQuery(document).ready(function () {
        var a = 'category_menu_' + '@rootCategory.Id';
        if ('#' + a) {
            $('#' + a).addClass('active');
        }
    });
    </script>
}