@using Entities.Models;
@using Entities.Enums;
@model Feedback
@{
    ViewBag.Title = "Chi tiết thông tin phản hồi";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Feedback, ActionEnum.Delete);
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.RouteUrl("FeedbackIndex")">Danh sách phản hồi</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Chi tiết thông tin phản hồi</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments-o"></i>Chi tiết thông tin phản hồi
                </div>
            </div>
            <div class="portlet-body">
                <form class="form" action="@Url.RouteUrl("FeedbackRespondFeedback")" method="post">
                    <div class="row static-info">
                        <div class="col-md-2 name">
                            Tiêu đề phản hồi:
                        </div>
                        <div class="col-md-10 value">
                            @Model.Title
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 name">
                            Ngày phản hồi:
                        </div>
                        <div class="col-md-10 value">
                            @Model.FeedbackDate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 name">
                            Người phản hồi:
                        </div>
                        <div class="col-md-10 value">
                            @Model.Name
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 name">
                            Địa chỉ Email:
                        </div>
                        <div class="col-md-10 value">
                            @Model.Email
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 name">
                            Điện thoại:
                        </div>
                        <div class="col-md-10 value">
                            @Model.PhoneNumber
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 name">
                            Trạng thái:
                        </div>
                        <div class="col-md-10 value">
                            @if (Model.IsResponded)
                            {
                                <span class="label label-success">Đã trả lời</span>
                            }
                            else
                            {
                                <span class="label label-warning">Chưa trả lời</span>
                            }
                        </div>
                    </div>
                    <h4 class="form-section">Nội dung phản hồi: </h4>
                    @Html.Raw(Model.Content)
                    <div>
                        @if (Model.RespondFeedbacks != null && Model.RespondFeedbacks.Any())
                        {
                            <h4 class="form-section">Nội dung trả lời: </h4>
                            foreach (var item in Model.RespondFeedbacks.OrderByDescending(o => o.RespondDate))
                            {
                                <h5>@item.RespondDate.ToString("dd/MM/yyyy")</h5>
                                @Html.Raw(item.Content)
                            }
                        }
                    </div>
                    <h4 class="form-section"> Trả lời thông tin phản hồi:</h4>
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div><textarea name="Respond" placeholder="Nhập nội dung trả lời" rows="6" cols="50" class="form-control"></textarea></div>
                    <br />
                    <div>
                        <button type="submit" class="btn green respond-submit"><i class="fa fa-check"></i> Trả lời</button>
                        @if(canDelete)
                        { 
                        <a href="@Url.RouteUrl("FeedbackDelete", new { id = Model.Id })" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa phản hồi này</a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>