@using Entities.Models;
@using Entities.Enums;
@model IEnumerable<Feedback>
@{
    ViewBag.Title = "Quản lý thông tin phản hồi";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Feedback, ActionEnum.Delete);
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Quản lý thông tin phản hồi</a>
        </li>
    </ul>
</div>
@*Bắt đầu nội dung tùy chỉnh*@
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments-o"></i>Danh sách thông tin phản hồi
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Người gửi
                            </th>
                            <th>
                                Ngày gửi
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model.OrderByDescending(o => o.FeedbackDate))
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1" />
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("FeedbackDetail", new { id = item.Id })">
                                            @item.Title
                                        </a>
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td class="center">
                                        @item.FeedbackDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @if (item.IsResponded)
                                        {
                                            <span class="label label-success">Đã trả lời</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning">Chưa trả lời</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("FeedbackDetail", new { id = item.Id })" class="btn btn-default"><i class="fa fa-eye"></i> Xem</a>
                                        @if (canDelete)
                                        {
                                            <a href="@Url.RouteUrl("FeedbackDelete", new { id = item.Id })" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa</a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>