@using Entities.Models;
@using Entities.Enums;
@model IEnumerable<AlbumDetail>
@{
    ViewBag.Title = "Danh sách ảnh trong album";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    var canDelete = RoleHelper.CheckPermission(ModuleEnum.Album, ActionEnum.Delete);
    var canCreate = RoleHelper.CheckPermission(ModuleEnum.Album, ActionEnum.Create);
    var canUpdate = RoleHelper.CheckPermission(ModuleEnum.Album, ActionEnum.Update);
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.RouteUrl("AlbumIndex")">Quản lý album</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Chi tiết album</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-file-photo-o font-green-sharp bold"></i>
                    <span class="caption-subject font-green-sharp bold ">Chi tiết album: @ViewBag.AlbumName</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="text-align-reverse margin-bottom-10">
                    @if (canCreate)
                    {
                        <a href="@Url.RouteUrl("AlbumDetailCreate", new { albumId = ViewBag.AlbumId })" class="btn green">
                            <i class="fa fa-plus"></i> Nhập ảnh mới
                        </a>
                    }
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr role="row" class="heading">
                            <th width="8%">
                                Ảnh
                            </th>
                            <th width="25%">
                                Tiêu đề
                            </th>
                            <th width="8%">
                                Tiêu đề phụ
                            </th>
                            <th width="10%">
                                Mô tả
                            </th>
                            <th width="10%">
                                Thứ tự
                            </th>
                            <th width="10%">
                                Liên kết
                            </th>
                            <th style="width:10px; white-space:nowrap;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@item.PhotoLocation" class="fancybox-button" data-rel="fancybox-button">
                                            <img class="img-responsive" src="@item.PhotoLocation" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.SmallTitle
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.OrdinalNumber
                                    </td>
                                    <td>
                                        @item.Link
                                    </td>
                                    <td>
                                        @if (canUpdate)
                                        {
                                            <a href="@Url.RouteUrl("AlbumDetailUpdate", new { albumDetailId = item.Id })" class="btn default btn-sm ">
                                                <i class="fa fa-edit"></i> Cập nhật
                                            </a>
                                        }
                                        @if (canDelete)
                                        {
                                            <a onclick="return confirm('Bạn có chắc chắn muốn xóa không?');" href="@Url.RouteUrl("AlbumDetailDelete", new { albumDetailId = item.Id })" class="btn default btn-sm red-flamingo">
                                                <i class="fa fa-trash-o"></i> Xóa
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Styles{
    @Styles.Render("~/Content/adminv1/fancybox")
}
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/fancybox")
}
