@using Entities.Models;
@model Entities.Models.AlbumDetail
@{
    ViewBag.Title = "Cập nhật ảnh cho album";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.RouteUrl("AlbumIndex")">Quản lý album</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.RouteUrl("AlbumDetail", new { albumId = ViewBag.AlbumId })">Chi tiết album</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Cập nhật ảnh cho album</a>
        </li>
    </ul>
</div>

@*Bắt đầu nội dung tùy chỉnh*@
<div class="row">
    <div class="col-md-12">
        <div class="tab-pane" id="tab_6">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-image"></i>Cập nhật ảnh cho album: @ViewBag.AlbumName
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm("DetailUpdate", "Album", FormMethod.Post, new { @class = "form-horizontal form-bordered form-row-stripped" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id);
                        @Html.HiddenFor(model => model.AlbumId)
                        @Html.HiddenFor(model => model.UploadDate)
                        <div class="form-body">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <button data-close="alert" class="close"></button>
                                    @Html.ValidationSummary(true)
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SmallTitle, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.SmallTitle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SmallTitle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OrdinalNumber, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.OrdinalNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OrdinalNumber)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Link, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Link)
                                </div>
                            </div>
                            <div class="form-group last">
                                @Html.LabelFor(model => model.PhotoLocation, new { @class = "col-md-3 control-label" })
                                @Html.HiddenFor(model => model.PhotoLocation)
                                <div class="col-md-9">
                                    <div>
                                        <div class="col-md-6 thumbnail" style="height:150px;">
                                            <img id="Image_Preview" src="@(string.IsNullOrEmpty(Model.PhotoLocation) ? "http://www.placehold.it/400x150/EFEFEF/AAAAAA&text=No+image" : Model.PhotoLocation)" alt="" style="height:100%;" />
                                        </div>
                                        <div class="col-md-6" style="line-height:150px;">
                                            <button type="button" class="btn btn-default select-image"><i class="fa fa-sm"></i> Chọn ảnh</button>
                                        </div>
                                    </div>
                                    <div style="clear:both;">
                                        @Html.ValidationMessageFor(model => model.PhotoLocation)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Ghi nhận</button>
                                    <a href="@Url.RouteUrl("AlbumDetail", new { albumId = ViewBag.AlbumId })" class="btn default">Hủy bỏ</a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/jqueryval")
    <script type="text/javascript" src="~/Editor/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('#Title').focus();
            $(document).on('click', '.select-image', function () {
                var finder = new CKFinder();
                finder.startupPath = 'Images:/album-anh/';
                finder.selectActionFunction = function (fileUrl) {
                    $('#PhotoLocation').val(fileUrl);
                    $('#Image_Preview').attr('src', fileUrl);
                };
                finder.popup();
            });
        });
    </script>
}