@using Entities.Models;
@model Entities.ViewModels.ArticleCreatingViewModel
@{
    ViewBag.Title = "Biên tập bài viết";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    //IEnumerable<Category> categories = (IEnumerable<Category>)ViewBag.Categories;
    IEnumerable<CategoryType> categoryTypes = (IEnumerable<CategoryType>)ViewBag.CategoryTypes;
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Biên tập bài viết</a>
            @*<i class="fa fa-angle-right"></i>*@
        </li>
    </ul>
</div>

@*Bắt đầu nội dung tùy chỉnh*@
<div class="row">
    <div class="col-md-12">
        <div class="tab-pane" id="tab_6">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>Biên tập bài viết
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm("Create", "Article", FormMethod.Post, new { @class = "form-horizontal form-bordered form-row-stripped" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <button data-close="alert" class="close"></button>
                                    @Html.ValidationSummary(true)
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control ckeditor" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Content, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control ckeditor" })
                                    @Html.ValidationMessageFor(model => model.Content)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Gán chuyên mục cho bài viết
                                </label>
                                <div class="col-md-9">
                                    <div class="form-control height-auto">
                                        <div class="scroller" style="height:200px;" data-always-visible="1">
                                            @Html.Raw(Html.CategoryTypeTree(categoryTypes, new List<long>()))
                                        </div>
                                    </div>
                                    <span class="help-block">
                                        Chọn 1 hoặc nhiều chuyên mục
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Ngày sự kiện
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group input-large date-picker input-daterange" data-date="@DateTime.Now.ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy">
                                        @Html.TextBoxFor(model => model.EventStartDate, new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            đến
                                        </span>
                                        @Html.TextBoxFor(model => model.EventFinishDate, new { @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.EventStartDate)
                                    @Html.ValidationMessageFor(model => model.EventFinishDate)
                                </div>
                            </div>
                            <div class="form-group last">
                                @Html.LabelFor(model => model.ImageDescription, new { @class = "col-md-3 control-label" })
                                @Html.HiddenFor(model => model.ImageDescription)
                                <div class="col-md-9">
                                    <div>
                                        <div class="col-md-6 thumbnail" style="height:150px;">
                                            <img id="Image_Preview" src="http://www.placehold.it/400x150/EFEFEF/AAAAAA&amp;text=No+image" alt="" style="height:100%;" />
                                        </div>
                                        <div class="col-md-6" style="line-height:150px;">
                                            <button type="button" class="btn btn-default select-image"><i class="fa fa-sm"></i> Chọn ảnh</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Ghi nhận</button>
                                    <a href="@Url.RouteUrl("ArticleIndex")" class="btn default">Hủy bỏ</a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>

    </div>
</div>
@section Styles{
    @Styles.Render("~/Content/adminv1/datepicker")
}
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/jqueryval", "~/bundles/adminv1/datepicker")
    <script type="text/javascript" src="~/Editor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Editor/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        CKFinder.setupCKEditor(null, '/Editor/ckfinder');
        jQuery(document).ready(function () {
            $('#Title').focus();
            $(document).on('click', '.select-image', function () {
                var finder = new CKFinder();
                finder.startupPath = 'Images:/bai-viet/';
                finder.selectActionFunction = function (fileUrl) {
                    $('#ImageDescription').val(fileUrl);
                    $('#Image_Preview').attr('src', fileUrl);
                };
                finder.popup();
            });

            $('.date-picker').datepicker({
                autoclose: true
            });
        });
    </script>
}