@using Web.Areas.Management.Helpers;
@using Entities.Enums;

@{
    bool isActiveController = false;
    bool isActive = false;
}
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu page-sidebar-menu-compact" data-auto-scroll="true" data-slide-speed="200">
            @{isActiveController = RouteHelper.IsCurrentController("Account", ViewContext) ||
                RouteHelper.IsCurrentController("SystemInformation", ViewContext) ||
                RouteHelper.IsCurrentController("Role", ViewContext);}
            @if (RoleHelper.CheckPermission(ModuleEnum.Account, ActionEnum.Read) ||
               RoleHelper.CheckPermission(ModuleEnum.Role, ActionEnum.Read))
            {
                <li class="@(isActiveController ? "active open start" : "start") ">
                    <a href="javascript:;">
                        <i class="icon-settings"></i>
                        <span class="title">Quản trị hệ thống</span>
                        @if (isActiveController)
                        {
                            <span class="selected"></span>
                        }
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        @if (RoleHelper.CheckPermission(ModuleEnum.Account, ActionEnum.Read))
                        {
                            isActive = RouteHelper.IsCurrentControllerAndAction("Account", "Index", ViewContext) ||
                    RouteHelper.IsCurrentControllerAndAction("Account", "Create", ViewContext);
                            <li class="@(isActive ? "active" : "") ">
                                <a href="@Url.RouteUrl("AccountIndex")">
                                    <i class="fa fa-user"></i>
                                    Quản lý tài khoản
                                </a>
                            </li>
                        }
                        @if (RoleHelper.CheckPermission(ModuleEnum.Role, ActionEnum.Read))
                        {
                            isActive = RouteHelper.IsCurrentControllerAndAction("Role", "Index", ViewContext) || RouteHelper.IsCurrentControllerAndAction("Role", "ModuleRole", ViewContext);
                            <li class="@(isActive ? "active" : "") ">
                                <a href="@Url.RouteUrl("RoleIndex")">
                                    <i class="fa fa-users"></i>
                                    Quản lý nhóm quyền
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @* Menu quản lý nhà cho thuê -------------------------------------------------------------------------------------- *@
            @{isActiveController = RouteHelper.IsCurrentController("Nha", ViewContext);}
            @if (RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Create) ||
               RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Read) ||
                RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Verify))
            {
                <li class="@(isActiveController ? "active open" : "") ">
                    <a href="javascript:;">
                        <i class="fa fa-university"></i>
                        <span class="title">Quản lý nhà</span>
                        @if (isActiveController)
                        {
                            <span class="selected"></span>
                        }
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        @if (RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Create))
                        {
                            isActive = RouteHelper.IsCurrentControllerAndAction("Nha", "Create", ViewContext);
                            <li class="@(isActive ? "active" : "") ">
                                <a href="@Url.RouteUrl("NhaCreate")">
                                    <i class="fa fa-edit"></i>
                                    Thêm mới nhà
                                </a>
                            </li>
                        }
                        @if (RoleHelper.CheckPermission(ModuleEnum.Nha, ActionEnum.Read))
                        {
                            isActive = RouteHelper.IsCurrentControllerAndAction("Nha", "Index", ViewContext);
                            <li class="@(isActive ? "active" : "") ">
                                <a href="@Url.RouteUrl("NhaIndex")">
                                    <i class="fa fa-list"></i>
                                    Danh sách nhà
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @* /Menu quản lý nhà cho thuê -------------------------------------------------------------------------------------- *@

                @* Menu quản lý khách thuê ----------------------------------------------------------------------------------------- *@
                @{isActiveController = RouteHelper.IsCurrentController("Khach", ViewContext);}
                @if (RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Create) ||
                           RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Read) ||
                            RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Verify))
                {
                    <li class="@(isActiveController ? "active open" : "") ">
                        <a href="javascript:;">
                            <i class="fa fa-users"></i>
                            <span class="title">Quản lý khách thuê</span>
                            @if (isActiveController)
                            {
                                <span class="selected"></span>
                            }
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Create))
                            {
                                isActive = RouteHelper.IsCurrentControllerAndAction("KhachThue", "Create", ViewContext);
                                <li class="@(isActive ? "active" : "") ">
                                    <a href="@Url.RouteUrl("KhachThueCreate")">
                                        <i class="fa fa-edit"></i>
                                        Thêm mới khách thuê
                                    </a>
                                </li>
                            }
                            @if (RoleHelper.CheckPermission(ModuleEnum.Khach, ActionEnum.Read))
                            {
                                isActive = RouteHelper.IsCurrentControllerAndAction("KhachThue", "Index", ViewContext);
                                <li class="@(isActive ? "active" : "") ">
                                    <a href="@Url.RouteUrl("KhachThueIndex")">
                                        <i class="fa fa-list"></i>
                                        Danh sách khách thuê
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @* /Menu quản lý khách thuê ----------------------------------------------------------------------------------------- *@

                    @* Menu quản lý công việc ----------------------------------------------------------------------------------------- *@
                    @{isActiveController = RouteHelper.IsCurrentController("Khach", ViewContext);}
                    @if (RoleHelper.CheckPermission(ModuleEnum.DanhSachCongViec, ActionEnum.Create) ||
                                    RoleHelper.CheckPermission(ModuleEnum.DanhSachCongViec, ActionEnum.Read) ||
                                    RoleHelper.CheckPermission(ModuleEnum.DanhSachCongViec, ActionEnum.Verify))
                    {
                        <li class="@(isActiveController ? "active open" : "") ">
                            <a href="javascript:;">
                                <i class="fa fa-briefcase"></i>
                                <span class="title">Quản lý công việc</span>
                                @if (isActiveController)
                                {
                                    <span class="selected"></span>
                                }
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                @if (RoleHelper.CheckPermission(ModuleEnum.PhanCongCongViec, ActionEnum.Read))
                                {
                                    isActive = RouteHelper.IsCurrentControllerAndAction("PhanCongCongViec", "Index", ViewContext);
                                    <li class="@(isActive ? "active" : "") ">
                                        <a href="@Url.RouteUrl("PhanCongCongViecIndex")">
                                            <i class="fa fa-check-square-o"></i>
                                            Quản lý phân công
                                        </a>
                                    </li>
                                }
                                @if (RoleHelper.CheckPermission(ModuleEnum.DanhSachCongViec, ActionEnum.Read))
                                {
                                    isActive = RouteHelper.IsCurrentControllerAndAction("KhachThue", "Index", ViewContext);
                                    <li class="@(isActive ? "active" : "") ">
                                            <a href="@Url.RouteUrl("DanhSachCongViecIndex")">
                                            <i class="fa fa-list"></i>
                                            Danh sách công việc
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @* /Menu quản lý dữ liệu ----------------------------------------------------------------------------------------- *@

                        @* Menu quản lý công việc ----------------------------------------------------------------------------------------- *@
                        @{isActiveController = RouteHelper.IsCurrentController("Khach", ViewContext);}
                        @if (RoleHelper.CheckPermission(ModuleEnum.Import, ActionEnum.Create) ||
                                            RoleHelper.CheckPermission(ModuleEnum.Import, ActionEnum.Read) ||
                                            RoleHelper.CheckPermission(ModuleEnum.Import, ActionEnum.Verify))
                        {
                            <li class="@(isActiveController ? "active open" : "") ">
                                <a href="javascript:;">
                                    <i class="icon-speech"></i>
                                    <span class="title">Quản lý dữ liệu</span>
                                    @if (isActiveController)
                                    {
                                        <span class="selected"></span>
                                    }
                                    <span class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (RoleHelper.CheckPermission(ModuleEnum.Import, ActionEnum.Create))
                                        {
                                            isActive = RouteHelper.IsCurrentControllerAndAction("Import", "ImportIndex", ViewContext);
                                            <li class="@(isActive ? "active" : "") ">
                                                <a href="@Url.RouteUrl("ImportIndex")">
                                                    <i class="fa fa-share"></i>
                                                    Import dữ liệu
                                                </a>
                                            </li>
                                        }
                                    @if (RoleHelper.CheckPermission(ModuleEnum.Export, ActionEnum.Create))
                                    {
                                        isActive = RouteHelper.IsCurrentControllerAndAction("Export", "ExportIndex", ViewContext);
                                        <li class="@(isActive ? "active" : "") ">
                                            <a href="@Url.RouteUrl("ExportIndex")">
                                                <i class="fa fa-reply"></i>
                                                Export dữ liệu
                                            </a>
                                        </li>
                                    }
                                    @if (RoleHelper.CheckPermission(ModuleEnum.Export, ActionEnum.Create))
                                    {
                                        isActive = RouteHelper.IsCurrentControllerAndAction("ExportNha", "ExportNhaIndex", ViewContext);
                                        <li class="@(isActive ? "active" : "") ">
                                            <a href="@Url.RouteUrl("ExportNhaIndex")">
                                                <i class="fa fa-reply"></i>
                                                Export nhà ra PDF
                                            </a>
                                        </li>
                                    }
                                    @if (RoleHelper.CheckPermission(ModuleEnum.XoaNhaTrung, ActionEnum.Create))
                                    {
                                        isActive = RouteHelper.IsCurrentControllerAndAction("XoaNhaTrung", "XoaNhaTrungIndex", ViewContext);
                                        <li class="@(isActive ? "active" : "") ">
                                            <a href="@Url.RouteUrl("XoaNhaTrungIndex")">
                                                <i class="fa fa-times-circle"></i>
                                                Xóa nhà trùng lặp
                                            </a>
                                        </li>
                                    }
                                    @if (RoleHelper.CheckPermission(ModuleEnum.XoaKhachTrungLap, ActionEnum.Read))
                                    {
                                        isActive = RouteHelper.IsCurrentControllerAndAction("KhachThue", "Index", ViewContext);
                                        <li class="@(isActive ? "active" : "") ">
                                            <a href="@Url.RouteUrl("XoaKhachTrungIndex")">
                                                <i class="fa fa-times-circle"></i>
                                                Xóa khách trùng lặp
                                            </a>
                                        </li>
                                    }
                                    @if (RoleHelper.CheckPermission(ModuleEnum.ChuyenGiaoDuLieu, ActionEnum.Read))
                                    {
                                        isActive = RouteHelper.IsCurrentControllerAndAction("ChuyenGiaoDuLieu", "ChuyenGiaoDuLieuIndex", ViewContext);
                                        <li class="@(isActive ? "active" : "") ">
                                                <a href="@Url.RouteUrl("ChuyenGiaoDuLieuIndex")">
                                                <i class="fa fa-refresh"></i>
                                                Chuyển giao dữ liệu
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        @* /Menu quản lý công việc ----------------------------------------------------------------------------------------- *@

                    </ul>
                </div>
            </div>