@model Entities.ViewModels.QuanLyCongViecViewModel
@{
    ViewBag.Title = "Cập nhật phân công công việc";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
    //IEnumerable<CategoryType> categoryTypes = (IEnumerable<CategoryType>)ViewBag.CategoryTypes;
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.RouteUrl("ManagementHome")">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Cập nhật phân công công việc</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check-square font-green-sharp bold"></i>
                    <span class="caption-subject font-green-sharp bold ">Cập nhật phân công công việc</span>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("UpdatePhanCongCongViec", "PhanCongCongViec", FormMethod.Post, new { @class = "form-horizontal form-bordered form-row-stripped" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button data-close="alert" class="close"></button>
                                @Html.ValidationSummary(true)
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0)" class="thongtinkhach thongtintitle" style="margin-top:0">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Thông tin khách
                                </a>
                            </div>
                            <div class="col-md-12 khachcontent content_wr">
                                <p>
                                    <span class="bold"> Tên khách:</span> @ViewBag.TenKhach
                                </p>
                                <p>
                                    <span class="bold">Số điện thoại khách: </span> @ViewBag.SoDienThoaiKhach
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0)" class="thongtinnhucauthue thongtintitle">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Thông tin cầu thuê
                                </a>
                            </div>
                            <div class="nhucauthuecontent content_wr">
                                <div class="col-md-6 khachcontent">
                                    <p>
                                        <span class="bold">Tên quận : </span> @ViewBag.QuanName
                                    </p>
                                    <p>
                                        <span class="bold">Tên đường: </span> @ViewBag.DuongName
                                    </p>
                                    <p>
                                        <span class="bold">Loại mặt bằng : </span>@Html.Raw(ViewBag.LoaiMatBang) 
                                    </p>
                                    <p>
                                        <span class="bold">Mặt tiền treo biển: </span> @ViewBag.MatTienTreoBien
                                    </p>
                                    <p>
                                        <span class="bold">Bề ngang lọt lòng : </span> @ViewBag.BeNgangLotLong
                                    </p>
                                    <p>
                                        <span class="bold">Diện tích đất: </span> @ViewBag.DienTichDat
                                    </p>
                                    <p>
                                        <span class="bold">Diện tích đất sử dụng tầng 1 : </span> @ViewBag.DienTichDatSuDungTang1
                                    </p>
                                    <p>
                                        <span class="bold">Tổng diện tích sử dụng : </span> @ViewBag.TongDienTichSuDung
                                    </p>
                                </div>
                                <div class="col-md-6 khachcontent">
                                    <p>
                                        <span class="bold">Số tầng: </span> @ViewBag.SoTang
                                    </p>
                                    <p>
                                        <span class="bold">Đi chung chủ : </span> @ViewBag.DiChungChu
                                    </p>
                                    <p>
                                        <span class="bold">Hầm: </span> @ViewBag.Ham
                                    </p>
                                    <p>
                                        <span class="bold">Thang máy : </span> @ViewBag.ThangMay
                                    </p>
                                    <p>
                                        <span class="bold">Nội thất khách thuê cũ: </span> @ViewBag.NoiThat
                                    </p>
                                    <p>
                                        <span class="bold">Tổng giá thuê : </span> @ViewBag.TongGiaThue
                                    </p>
                                    <p>
                                        <span class="bold">Giá thuê bình quân: </span> @ViewBag.GiaThueBQ
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0)" class="thongtinnha thongtintitle">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Thông tin nhà cần thuê
                                </a>
                            </div>
                            <div class="nhucauthuecontent content_wr">
                                <div class="col-md-6 khachcontent">
                                    <p>
                                        <span class="bold">Tên quận : </span> @ViewBag.QuanName1
                                    </p>
                                    <p>
                                        <span class="bold">Tên đường: </span> @ViewBag.DuongName1
                                    </p>
                                    <p>
                                        <span class="bold">Loại mặt bằng : </span> @Html.Raw(ViewBag.LoaiMatBang1)
                                    </p>
                                    <p>
                                        <span class="bold">Số nhà : </span> @ViewBag.SoNha
                                    </p>
                                    <p>
                                        <span class="bold">Tên tòa nhà: </span> @ViewBag.TenToaNha
                                    </p>
                                    <p>
                                        <span class="bold">Tên chủ nhà : </span> @ViewBag.TenChuNha
                                    </p>
                                    <p>
                                        <span class="bold">Số điện thoại: </span> @ViewBag.SoDienThoai1
                                    </p>
                                    <p>
                                        <span class="bold">Mặt tiền treo biển: </span> @ViewBag.MatTienTreoBien1
                                    </p>
                                    <p>
                                        <span class="bold">Bề ngang lọt lòng : </span> @ViewBag.BeNgangLotLong1
                                    </p>
                                    <p>
                                        <span class="bold">Diện tích đất: </span> @ViewBag.DienTichDat1
                                    </p>
                                </div>
                                <div class="col-md-6 khachcontent">
                                    <p>
                                        <span class="bold">Diện tích đất sử dụng tầng 1 : </span> @ViewBag.DienTichDatSuDungTang11
                                    </p>
                                    <p>
                                        <span class="bold">Tổng diện tích sử dụng : </span> @ViewBag.TongDienTichSuDung1
                                    </p>
                                    <p>
                                        <span class="bold">Số tầng: </span> @ViewBag.SoTang1
                                    </p>
                                    <p>
                                        <span class="bold">Đi chung chủ : </span> @ViewBag.DiChungChu1
                                    </p>
                                    <p>
                                        <span class="bold">Hầm: </span> @ViewBag.Ham1
                                    </p>
                                    <p>
                                        <span class="bold">Thang máy : </span> @ViewBag.ThangMay1
                                    </p>
                                    <p>
                                        <span class="bold">Nội thất khách thuê cũ: </span> @ViewBag.NoiThat1
                                    </p>
                                    <p>
                                        <span class="bold">Tổng giá thuê : </span> @ViewBag.TongGiaThue1
                                    </p>
                                    <p>
                                        <span class="bold">Giá thuê bình quân: </span> @ViewBag.GiaThueBQ1
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0)" class="thongtinupdate thongtintitle">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Thông tin update
                                </a>
                            </div>
                            <div class="col-md-12 updatecontent content_wr">
                                <p>
                                    <span class="bold" style="float:left;margin-top:5px;margin-right:10px"> Nhân viên chăm sóc:</span>
                                    @Html.DropDownListFor(model=>model.NhanVienPhuTrachId, (IEnumerable<SelectListItem>)ViewBag.Accounts, new { @class = "form-control getuserid ", @style = "width: 250px; float: left; padding-top:0;padding-bottom:0;height:30px" })
                                </p>
                                <p style="float:left;width:100%">
                                    <span class="bold" style="margin-top:5px;margin-right:17px">
                                        @Html.LabelFor(model => model.NoiDungCongViec, new { @style = "font-weight:bold;font-size:13px" }):
                                    </span>
                                        @Html.TextAreaFor(model => model.NoiDungCongViec, new { @style = "height: 120px;float:left;border:1px solid #e5e5e5;width:100%" })
                                </p>
                                
                                <div style="width:100%;float:left;display:block;clear:both">
                                    <p style="float:left;width:100%">
                                        <span class="bold" style="float:left;margin-top:5px;display:block"> Ẩn những trường dữ liệu:</span>
                                    </p>
                                    @for (int idx = 0; idx < Model.FieldHidden.Count; idx++)
                                    {
                                        @Html.HiddenFor(x => Model.FieldHidden[idx].FieldKey)
                                        @Html.CheckBoxFor(x => Model.FieldHidden[idx].IsSelected)
                                        @Html.DisplayFor(x => Model.FieldHidden[idx].FieldName)
                                        @Html.HiddenFor(x => Model.FieldHidden[idx].FieldName)
                                        @Html.HiddenFor(x => Model.FieldHidden[idx].IsNha)
                                        @Html.HiddenFor(x => Model.FieldHidden[idx].IsNhuCau)
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green"><i class="fa fa-check"></i> Ghi nhận</button>
                                <a href="@Url.RouteUrl("PhanCongCongViecIndex")" class="btn default">Hủy bỏ</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/adminv1/datepicker")
}
@section Scripts {
    @Scripts.Render("~/bundles/adminv1/jqueryval", "~/bundles/adminv1/datepicker")
    <script type="text/javascript" src="~/Editor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Editor/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        CKFinder.setupCKEditor(null, '/Editor/ckfinder');
        jQuery(document).ready(function () {
            $(document).on('click', '.select-image', function () {
                var finder = new CKFinder();
                finder.startupPath = 'Images:/bai-viet/';
                finder.selectActionFunction = function (fileUrl) {
                    $('#ImageDescription').val(fileUrl);
                    $('#Image_Preview').attr('src', fileUrl);
                };
                finder.popup();

            });

            $(document).on('change', '.sel-quan', function (e) {
                GetDuongByQuan($(this).val(), $(this));
            });

            $('.date-picker').datepicker({
                autoclose: true
            });
        });

        $(".content_wr:not(.updatecontent)").hide();
        $(".thongtintitle:not(.thongtinupdate)").click(function () {
            $(this).parent().next().slideToggle();
        });

        function GetDuongByQuan(id, quan) {
            var URL = ('@Url.RouteUrl("SharedGetDuongByQuan", new { quanId = "objectIdReplacement" })').replace('objectIdReplacement', id);
            $.getJSON(URL, function (data) {
                var items = "<option value=''>Chọn đường</option>";
                if (data) {
                    $.each(data, function (i, item) {
                        items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                    });
                }
                var duong = $(quan).closest(".create-form-6").find(".sel-duong");
                $(duong).html(items);
            });
        };
    </script>
}


<style type="text/css">
    .thongtintitle{
        font-weight:bold;
        margin-bottom:5px;
        display: block;
        margin-top:10px
    }
    .content_wr {
        margin-bottom: 10px;
        padding-top: 8px;
        background: #f0f5f5;
        float:left;
        width:100%;
    }
    .thongtinkhach {
    }
    .updatecontent{
        padding-bottom:10px
    }
</style>
